<div class="row">
	<div class="col-sm-6">
	  <div class="card border-primary h-100">
		<div class="card-header container-fluid">
			<div class="row">
				<div class="col-md-8" style="vertical-align: middle;">
					<b>Parametri Vitali (Qualitativi)</b>
				</div>
				<div class="col-md-4 float-right d-md-flex justify-content-md-end" style="padding-right: 0pt; padding-left: 0pt;">
					<button *ngIf="!selectedReport._validation.isValidated" type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="updateVitalSigns()">
						<i class="bi bi-pencil-square"></i><span class="align-middle">&nbsp;Aggiorna</span>
					</button>
				</div>
			</div>
		</div>
		<table class="table table-borderless table-hover">
			<tbody>
				<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.temp | isValidValue">
					<th>Temperatura</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.vitalSigns.temp}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.hr  | isValidValue">
					<th>Frequenza cardiaca</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.vitalSigns.hr}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.bp  | isValidValue">
					<th>Pressione arteriosa</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.vitalSigns.bp}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.spo2 | isValidValue">
					<th>Saturazione (SpO2)</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.vitalSigns.spo2}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.etco2">
					<th>EtCO2</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.vitalSigns.etco2}}</td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
	<div class="col-sm-6">
		<div class="card border-primary h-100">
			<div class="card-header container-fluid">
				<div class="row">
					<div class="col-md-8" style="vertical-align: middle;">
						<b>Quadro Clinico</b>
					</div>
					<div class="col-md-4 float-right d-md-flex justify-content-md-end" style="padding-right: 0pt; padding-left: 0pt;">
						<button *ngIf="!selectedReport._validation.isValidated" type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="updateClinicalPicture()">
							<i class="bi bi-pencil-square"></i><span class="align-middle">&nbsp;Aggiorna</span>
						</button>
					</div>
				</div>
			</div>
			<div class="card-body text-center text-uppercase" style="padding-bottom: 0pt">
				<h6 *ngIf="selectedReport.patientInitialCondition | isNeuroNotEmpty">Esame neurologico</h6>
			</div>
		  	<table class="table table-borderless table-hover">
			  <tbody>
				<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.gcsTotal  | isValidValue">
					<th>GCS totale</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.gcsTotal}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.gcsMotor  | isValidValue">
					<th>GCS motoria</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.gcsMotor}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.gcsVerbal  | isValidValue">
					<th>GCS verbale</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.gcsVerbal}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.gcsEyes  | isValidValue">
					<th>GCS oculare</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.gcsEyes}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.sedated | isValidValue">
					<th>Paziente sedato</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.sedated | getYesNoValue}}</td>
				</tr>
				<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.pupils | isValidValue">
					<th>Pupille</th>
					<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.pupils}}</td>
				</tr>
			  </tbody>
		  </table>
			<div class="card-body text-center text-uppercase" style="padding-bottom: 0pt">
				<h6 *ngIf="selectedReport.patientInitialCondition | isAirwayNotEmpty" >Vie Aeree e Respirazione</h6>
			</div>
			<table class="table table-borderless table-hover">
				<tbody>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.airway  | isValidValue">
						<th>Vie aeree</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.airway}}</td>
					</tr>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.positiveInhalation  | isValidValue">
						<th>Tracheo</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.positiveInhalation | getYesNoValue }}</td>
					</tr>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.intubationFailed  | isValidValue">
						<th>IOT fallita</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.intubationFailed | getYesNoValue }}</td>
					</tr>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.chestTube  | isValidValue">
						<th>Decompressione pleurica</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.chestTube}}</td>
					</tr>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.oxygenPercentage  | isValidValue">
						<th>Ossigeno (%)</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.oxygenPercentage}}</td>
					</tr>
				</tbody>
			</table>
			<div class="card-body text-center text-uppercase" style="padding-bottom: 0pt">
				<h6 *ngIf="(selectedReport.patientInitialCondition | isHemorrhageNotEmpty) || (selectedReport.patientInitialCondition | isOrtopNotEmpty) || (selectedReport.patientInitialCondition | isBurnNotEmpty)">Emorragie, Lesioni ortopediche, Ustioni</h6>
			</div>
			<table class="table table-borderless table-hover">
				<tbody>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.hemorrhage  | isValidValue">
						<th>Emorragie Esterne</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.hemorrhage | getYesNoValue}}</td>
					</tr>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.limbsFracture | isValidValue">
						<th>Frattura arti</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.limbsFracture | getYesNoValue}}</td>
					</tr>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.fractureExposition | isValidValue">
						<th>Frattura esposta</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.fractureExposition | getYesNoValue}}</td>
					</tr>
					<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.burn | isValidValue">
						<th>Ustione</th>
						<td class="align-middle">{{selectedReport.patientInitialCondition.clinicalPicture.burn}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	  </div>
</div>

<!--
<h4 *ngIf="(selectedReport | isPatientInitialConditionNotEmpty)">
	<span class="label label-default">Stato Iniziale Paziente</span>
</h4>
<table>
<tr style="height:20px"></tr>
<tr>
<td style="width:200px">
	<h4>Parametri vitali</h4>
</td>
<td>
	<button *ngIf="!selectedReport._validation.isValidated" type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="updateVitalSigns()">
		<i class="bi bi-pencil-square"></i><span class="align-middle">&nbsp;Aggiorna</span>
	</button>
</td>
</tr>
<tr style="height:20px"></tr>
</table>
<table *ngIf="selectedReport.patientInitialCondition | isVitalParamsNotEmpty" class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.temp | isValidValue">
			<td width="350">Temperatura</td>
			<td width="350">{{selectedReport.patientInitialCondition.vitalSigns.temp}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.hr  | isValidValue">
			<td width="350">Frequenza cardiaca</td>
			<td width="350">{{selectedReport.patientInitialCondition.vitalSigns.hr}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.bp  | isValidValue">
			<td width="350">Pressione arteriosa</td>
			<td width="350">{{selectedReport.patientInitialCondition.vitalSigns.bp}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.spo2 | isValidValue">
			<td width="350">Saturazione (SpO2)</td>
			<td width="350">{{selectedReport.patientInitialCondition.vitalSigns.spo2}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.vitalSigns.etco2">
			<td width="350">EtCO2</td>
			<td width="350">{{selectedReport.patientInitialCondition.vitalSigns.etco2}}</td>
		</tr>
	</tbody>
</table>

<table>
<tr>
<td style="width:200px">
	<h4>Quadro Clinico </h4>
</td>
<td>
	<button *ngIf="!selectedReport._validation.isValidated" type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="updateClinicalPicture()">
		<i class="bi bi-pencil-square"></i><span class="align-middle">&nbsp;Aggiorna</span>
	</button>
</td>
</tr>
<tr style="height:20px"></tr>
</table>
<h4 *ngIf="selectedReport.patientInitialCondition | isNeuroNotEmpty">Esame neurologico</h4>
<table *ngIf="selectedReport.patientInitialCondition | isNeuroNotEmpty" class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.gcsTotal  | isValidValue">
			<td width="350">GCS totale</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.gcsTotal}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.gcsMotor  | isValidValue">
			<td>GCS motoria</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.gcsMotor}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.gcsVerbal  | isValidValue">
			<td>GCS verbale</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.gcsVerbal}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.gcsEyes  | isValidValue">
			<td>GCS oculare</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.gcsEyes}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.sedated | isValidValue">
			<td>Paziente sedato</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.sedated | getYesNoValue}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.pupils | isValidValue">
			<td>Pupille</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.pupils}}</td>
		</tr>
	</tbody>
</table>

<h4 *ngIf="selectedReport.patientInitialCondition | isAirwayNotEmpty" >Vie Aeree e Respirazione</h4>
<table *ngIf="selectedReport.patientInitialCondition | isAirwayNotEmpty" class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.airway  | isValidValue">
			<td width="350">Vie aeree</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.airway}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.positiveInhalation  | isValidValue">
			<td>Tracheo</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.positiveInhalation | getYesNoValue }}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.intubationFailed  | isValidValue">
			<td>IOT fallita</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.intubationFailed | getYesNoValue }}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.chestTube  | isValidValue">
			<td>Decompressione pleurica</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.chestTube}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.oxygenPercentage  | isValidValue">
			<td>Ossigeno (%)</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.oxygenPercentage}}</td>
		</tr>
	</tbody>
</table>

<h4 *ngIf="(selectedReport.patientInitialCondition | isHemorrhageNotEmpty) || (selectedReport.patientInitialCondition | isOrtopNotEmpty) || (selectedReport.patientInitialCondition | isBurnNotEmpty)">Emorragie, Lesioni ortopediche, Ustioni</h4>
<table *ngIf="(selectedReport.patientInitialCondition | isHemorrhageNotEmpty) || (selectedReport.patientInitialCondition | isOrtopNotEmpty) || (selectedReport.patientInitialCondition | isBurnNotEmpty)" class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.hemorrhage  | isValidValue">
			<td width="350">Emorragie Esterne</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.hemorrhage | getYesNoValue}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.limbsFracture | isValidValue">
			<td width="350">Frattura arti</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.limbsFracture | getYesNoValue}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.fractureExposition | isValidValue">
			<td>Frattura esposta</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.fractureExposition | getYesNoValue}}</td>
		</tr>
		<tr *ngIf="selectedReport.patientInitialCondition.clinicalPicture.burn | isValidValue">
			<td width="350">Ustione</td>
			<td>{{selectedReport.patientInitialCondition.clinicalPicture.burn}}</td>
		</tr>
	</tbody>
</table>
<table>
<tr style="height:20px"></tr>
</table>-->

<ng-template #updateClinicalPictureDialog>
<div class="modal-header">
	<h4 class="modal-title">Quadro Clinico</h4>
</div>
<div class="modal-body">
	<h4>Esame neurologico</h4>
	<table class="table table-striped">
		<tbody>
		<tr>
			<td>GCS motoria</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_gcsMotor_selected' >
 					<option class='option' *ngFor='let option of box_cp_gcsMotor_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>GCS verbale</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_gcsVerbal_selected' >
 					<option class='option' *ngFor='let option of box_cp_gcsVerbal_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>GCS oculare</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_gcsEyes_selected' >
 					<option class='option' *ngFor='let option of box_cp_gcsEyes_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Paziente sedato</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_sedated_selected' >
 					<option class='option' *ngFor='let option of box_cp_sedated_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Pupille</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_pupils_selected' >
 					<option class='option' *ngFor='let option of box_cp_pupils_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		</tbody>
	</table>		
	<h4> Vie Aeree e Respirazione</h4>
	<table class="table table-striped">
	<thead>
		<tbody>
		<tr>
			<td>Vie aeree</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_airways_selected' >
 					<option class='option' *ngFor='let option of box_cp_airways_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Tracheo</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_positiveInhalation_selected' >
 					<option class='option' *ngFor='let option of box_cp_positiveInhalation_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>IOT fallita</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_intubationFailed_selected' >
 					<option class='option' *ngFor='let option of box_cp_intubationFailed_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Decompressione pleurica</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_chestTube_selected' >
 					<option class='option' *ngFor='let option of box_cp_chestTube_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Ossigeno (%)</td>
			<td><input [(ngModel)]="box_cp_oxygenPercentage" type="number" ></td>
		</tr>
	</tbody>
	</table>	
	<h4>Emorragie</h4>
	<table class="table table-striped">
	<tbody>
		<tr>
			<td>Emorragie Esterne</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_hemorrhage_selected' >
 					<option class='option' *ngFor='let option of box_cp_hemorrhage_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
	</tbody>
	</table>
	<h4>Lesioni ortopediche</h4>
	<table class="table table-striped">
	<tbody>
		<tr>
			<td>Frattura arti</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_limbsFracture_selected' >
 					<option class='option' *ngFor='let option of box_cp_limbsFracture_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Frattura esposta</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_fractureExposition_selected' >
 					<option class='option' *ngFor='let option of box_cp_fractureExposition_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
	</tbody>
	</table>
	<h4>Ustioni</h4>
	<table class="table table-striped">
	<tbody>
		<tr>
			<td>Ustione</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_cp_burn_selected' >
 					<option class='option' *ngFor='let option of box_cp_burn_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
	</tbody>
	</table>		
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="dismissDialog()">
		<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
	</button>
	<button type="button" class="btn btn-outline-dark" (click)="confirmUpdateClinicalPicture()">
		<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Aggiorna</span>
	</button>
</div>
</ng-template>

<ng-template #updateVitalSignsDialog>
<div class="modal-header">
	<h4 class="modal-title">Parametri Vitali</h4>
</div>
<div class="modal-body">
	<table class="table table-striped">
	<tbody>
		<tr>
			<td>Temperatura</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_vs_temp_selected' >
 					<option class='option' *ngFor='let option of box_vs_temp_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Frequenza cardiaca</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_vs_hr_selected' >
 					<option class='option' *ngFor='let option of box_vs_hr_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Pressione arteriosa</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_vs_bp_selected' >
 					<option class='option' *ngFor='let option of box_vs_bp_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Saturazione (SpO2)</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_vs_spo2_selected' >
 					<option class='option' *ngFor='let option of box_vs_spo2_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>EtCO2</td>
			<td>
				<select class='select-option' required [(ngModel)]='box_vs_etco2_selected' >
 					<option class='option' *ngFor='let option of box_vs_etco2_options' [value]="option">{{option}}
	 				</option>
				</select>
			</td>
		</tr>
	</tbody>
</table>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="dismissDialog()">
		<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
	</button>
	<button type="button" class="btn btn-outline-dark" (click)="confirmUpdateVitalSigns()">
		<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Aggiorna</span>
	</button>
</div>
</ng-template>



