<h4 *ngIf="selectedReport.majorTraumaCriteria | isMajorTraumaCriteriaNotEmpty">
	<span class="label label-default">Criteri Trauma Maggiore</span>
</h4>

<table *ngIf="selectedReport.majorTraumaCriteria | isMajorTraumaCriteriaNotEmpty" class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngIf="selectedReport.majorTraumaCriteria.dynamic | isValidValue">
			<td>Dinamico</td>
			<td>{{selectedReport.majorTraumaCriteria.dynamic | getYesNoValue}}</td>
		</tr>
		<tr *ngIf="selectedReport.majorTraumaCriteria.physiological | isValidValue">
			<td>Fisiologico</td>
			<td>{{selectedReport.majorTraumaCriteria.physiological | getYesNoValue }}</td>
		</tr>
		<tr *ngIf="selectedReport.majorTraumaCriteria.anatomical | isValidValue">
			<td>Anatomico</td>
			<td>{{selectedReport.majorTraumaCriteria.anatomical | getYesNoValue}}</td>
		</tr>
	</tbody>
</table>
