<div class="row">
	<div class="col-sm-12">
	  <div class="card border-primary h-100">
		<div class="card-header"><b>Scheda Pre-H</b></div>
		<table class="table table-borderless table-hover">
			<tbody>
				<tr *ngIf="selectedReport.preH.territorialArea | isValidValue">
					<th style="width: 50%;">Ambito Territoriale</th>
					<td style="width: 50%;" class="align-middle">{{selectedReport.preH.territorialArea}}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.isCarAccident | isValidValue">
					<th>Incidente Stradale</th>
					<td class="align-middle">{{selectedReport.preH.isCarAccident | getYesNoValue }}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.worstBloodPressure | isValidValue">
					<th>Peggiore PAS misurata</th>
					<td class="align-middle">{{selectedReport.preH.worstBloodPressure}}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.worstRespiratoryRate | isValidValue">
					<th>Peggior Frequenza Respiratoria Misurata</th>
					<td class="align-middle">{{selectedReport.preH.worstRespiratoryRate }}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.aAirways | isValidValue">
					<th>Vie Aeree</th>
					<td class="align-middle">{{selectedReport.preH.aAirways}}</td>
				</tr>	
				<tr *ngIf="selectedReport.preH.bPleuralDecompression | isValidValue">
					<th>Decompressione Pleurica</th>
					<td class="align-middle">{{selectedReport.preH.bPleuralDecompression | getYesNoValue}}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.cBloodProtocol | isValidValue">
					<th>Protocollo Sangue</th>
					<td class="align-middle">{{selectedReport.preH.cBloodProtocol | getYesNoValue}}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.cTpod | isValidValue">
					<th>T-POD</th>
					<td class="align-middle">{{selectedReport.preH.cTpod | getYesNoValue }}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.dGcsTotal | isValidValue">
					<th>GCS Totale</th>
					<td class="align-middle">{{selectedReport.preH.dGcsTotal}}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.dAnisocoria | isValidValue">
					<th>Anisocoria</th>
					<td class="align-middle">{{selectedReport.preH.dAnisocoria | getYesNoValue}}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.dMidriasi | isValidValue">
					<th>Midriasi</th>
					<td class="align-middle">{{selectedReport.preH.dMidriasi | getYesNoValue}}</td>
				</tr>
				<tr *ngIf="selectedReport.preH.eMotility | isValidValue">
					<th>Paraparesi/Tetraparesi</th>
					<td class="align-middle">{{selectedReport.preH.eMotility | getYesNoValue}}</td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
</div>

<!--
<h4 *ngIf="selectedReport.preH | isPreHNotEmpty">
	<span class="label label-default">Scheda Pre-H</span>
</h4>

<table *ngIf="selectedReport.preH | isPreHNotEmpty" class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngIf="selectedReport.preH.territorialArea | isValidValue">
			<td>Ambito Territoriale</td>
			<td>{{selectedReport.preH.territorialArea}}</td>
		</tr>
		<tr *ngIf="selectedReport.preH.isCarAccident | isValidValue">
			<td>Incidente Stradale</td>
			<td>{{selectedReport.preH.isCarAccident | getYesNoValue }}</td>
		</tr>

		<tr *ngIf="selectedReport.preH.worstBloodPressure | isValidValue">
			<td>Peggiore PAS misurata</td>
			<td>{{selectedReport.preH.worstBloodPressure}}</td>
		</tr>
		<tr *ngIf="selectedReport.preH.worstRespiratoryRate | isValidValue">
			<td>Peggior Frequenza Respiratoria Misurata</td>
			<td>{{selectedReport.preH.worstRespiratoryRate }}</td>
		</tr>

		<tr *ngIf="selectedReport.preH.aAirways | isValidValue">
			<td>Vie Aeree</td>
			<td>{{selectedReport.preH.aAirways}}</td>
		</tr>
	
		<tr *ngIf="selectedReport.preH.bPleuralDecompression | isValidValue">
			<td>Decompressione Pleurica</td>
			<td>{{selectedReport.preH.bPleuralDecompression | getYesNoValue}}</td>
		</tr>
		
		<tr *ngIf="selectedReport.preH.cBloodProtocol | isValidValue">
			<td>Protocollo Sangue</td>
			<td>{{selectedReport.preH.cBloodProtocol | getYesNoValue}}</td>
		</tr>
		<tr *ngIf="selectedReport.preH.cTpod | isValidValue">
			<td>T-POD</td>
			<td>{{selectedReport.preH.cTpod | getYesNoValue }}</td>
		</tr>
		
		<tr *ngIf="selectedReport.preH.dGcsTotal | isValidValue">
			<td>GCS Totale</td>
			<td>{{selectedReport.preH.dGcsTotal}}</td>
		</tr>
		<tr *ngIf="selectedReport.preH.dAnisocoria | isValidValue">
			<td>Anisocoria</td>
			<td>{{selectedReport.preH.dAnisocoria | getYesNoValue}}</td>
		</tr>
		<tr *ngIf="selectedReport.preH.dMidriasi | isValidValue">
			<td>Midriasi</td>
			<td>{{selectedReport.preH.dMidriasi | getYesNoValue}}</td>
		</tr>
		
		<tr *ngIf="selectedReport.preH.eMotility | isValidValue">
			<td>Paraparesi/Tetraparesi</td>
			<td>{{selectedReport.preH.eMotility | getYesNoValue}}</td>
		</tr>
	</tbody>
</table>
-->