<div style="width:100%;margin:auto">
<div class="card">
	<div class="card-body">
		<!-- <h5 class="card-title">Ricerca di report</h5> -->
		<div style="height:120px">
		<form class="form-inline">
			<div class="form-group">
				<table>
					<tr>
						<td>
							<div style="height:60px">
							<table>
								<tr>
									<td style="width: 50px">Dal</td>
									<td style="width: 180px">
										<div class="input-group">
											<input class="form-control" placeholder="yyyy-mm-dd"
												name="dp1" [(ngModel)]="startDate" ngbDatepicker
												#d1="ngbDatepicker">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary"
													(click)="d1.toggle()" type="button">
													<img src="assets/img/calendar-icon.svg"
														style="width: 1.2rem; height: 1rem; cursor: pointer;" />
												</button>
											</div>
										</div>
									</td>
									<td style="width: 50px; text-align: center">Al</td>
									<td style="width: 180px">
										<div class="input-group">
											<input class="form-control" placeholder="yyyy-mm-dd"
												name="dp2" [(ngModel)]="endDate" ngbDatepicker
												#d2="ngbDatepicker">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary"
													(click)="d2.toggle()" type="button">
													<img src="assets/img/calendar-icon.svg"
														style="width: 1.2rem; height: 1rem; cursor: pointer;" />
												</button>
											</div>
										</div>
									</td>
								</tr>
							</table>
							</div>
							<div>
							<table>
								<tr>
									<td style="width:40px;text-align:left"><label>ISS</label> </td>
									<td><input style="width:40px" type="text" [(ngModel)]="iss" name="iss"/></td>
									<td style="width:100px"><label>Operatore</label> </td>
									<td><input type="text" [(ngModel)]="operator" name="operator"/></td>
								</tr>
							</table>
							</div>
							
						</td>
						<td style="width: 50%; text-align: center">
							<button (click)="findReports()" type="button"
								class="btn btn-primary">Cerca</button>
						</td>
					</tr>
				</table>

			</div>
		</form>
		</div>
		<report-compact-details [reports]="reportsFound"></report-compact-details>
	</div>
</div>
</div>