div.container {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  margin: 1% 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 800px) {
  div.container {
    flex-direction: column;
  }
}

div.container > label {
  margin: 1%;
  color: #607d8b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
