<h2> Insert tag </h2>
<div class="container">
    <label>Id: {{baseId}} <input [(ngModel)]="tag.id" value="{{tag.id}}"/></label>
    <label>SerialNumber: <input [(ngModel)]="tag.serialNumber" value="{{tag.serialNumber}}"/></label>
    <button (click)="addTag()">Insert</button>
</div>
