
<div>
<!--   -->
<input
    id = "swapVitalSignView"
	type="button" 
	(click)="swapVitalSignsView()" 
	class="btn btn-xs btn-primary" value="{{viewButtonText}}" />  
</div>
	
<div *ngIf="vitalSignsViewOn">
	<div style="margin-top:30px">
		<h4>
		<span class="label label-default" style="margin-right:40px">Grafico Andamenti</span>
		<input type="button" (click)="addValues()" class="btn btn-xs btn-primary" value="+" />  
		<input type="button" (click)="delValues()" class="btn btn-xs btn-primary" value="-" />  
		</h4>
	</div>
	<div style="margin-top:30px" class="chartWrapper">
	      <div class="chartAreaWrapper">
	        <div id="hrChartAreaWrapper" class="chartAreaWrapper2">
	  			<canvas id="hrChart"></canvas> 
	        </div>
	      </div>
	</div>
	
	<div class="chartWrapper">
	      <div class="chartAreaWrapper">
	        <div id="sis_dia_ChartAreaWrapper" class="chartAreaWrapper2">
	  			<canvas id="sis_dia_Chart"></canvas> 
	        </div>
	      </div>
	</div>
	
	<div class="chartWrapper">
	      <div class="chartAreaWrapper">
	        <div id="nbps_nbpd_ChartAreaWrapper" class="chartAreaWrapper2">
	  			<canvas id="nbps_nbpd_Chart"></canvas> 
	        </div>
	      </div>
	</div>
	
	<div class="chartWrapper">
	      <div class="chartAreaWrapper">
	        <div id="spO2ChartAreaWrapper" class="chartAreaWrapper2">
	  			<canvas id="spO2Chart"></canvas> 
	        </div>
	      </div>
	</div>
	
	<div class="chartWrapper">
	      <div class="chartAreaWrapper">
	        <div id="etcO2ChartAreaWrapper" class="chartAreaWrapper2">
	  			<canvas id="etcO2Chart"></canvas> 
	        </div>
	      </div>
	</div>
	
	<div class="chartWrapper">
	      <div class="chartAreaWrapper">
	        <div id="tempChartAreaWrapper" class="chartAreaWrapper2">
	  			<canvas id="tempChart"></canvas> 
	        </div>
	      </div>
	</div>
</div>
<!-- 
<ng-template #viewVitalSignsModal>
<div class="modal-header">
	<h4 class="modal-title">Id: {{ selectedReport._id }}}</h4>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark"
		(click)="dismissDialog()">Chiudi</button>
</div>
</ng-template>
  -->

