.chartWrapper {
            position: relative;
 }

.chartWrapper > canvas {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events:none;
}

.chartAreaWrapper {
          overflow-x: scroll;
            position: relative;
            width: 100%;
}

.chartAreaWrapper2 {
            position: relative;
            height: 120px;
}