<div class="row">
	<div class="col-sm-5">
	  <div class="card border-primary h-100">
		<div class="card-header"><b>Trauma Team</b></div>
		<table class="table table-borderless">
			<tbody>
				<tr>
					<th>Trauma Leader</th>
					<td class="align-middle">{{selectedReport | filterOperatorName }}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaTeamMembers !== undefined && selectedReport.traumaTeamMembers.length > 0">
					<th>Ulteriori Membri</th>
					<td class="align-middle">{{selectedReport.traumaTeamMembers | filterTeamMembers }}</td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>
	<div class="col-sm-5">
		<div class="card border-primary h-100">
		  <div class="card-header"><b>Intervento</b></div>
		  <table class="table table-borderless">
			  <tbody>
				  <tr *ngIf="selectedReport.delayedActivation != undefined && selectedReport.delayedActivation.isDelayedActivation == true">
					  <th>Attivazione Ritardata</th>
					  <td class="align-middle">sì (originaria: {{selectedReport.delayedActivation.originalAccessDate}} , {{selectedReport.delayedActivation.originalAccessTime}})</td>
				  </tr>
				  <tr>
					  <th>Inizio Intervento</th>
					  <td class="align-middle">{{selectedReport.startDate}} (ore {{selectedReport.startTime}})</td>
				  </tr>
				  <tr>
					<th>Fine Intervento</th>
					<td class="align-middle">{{selectedReport.endDate}} (ore {{selectedReport.endTime}})</td>
				  </tr>
				  <tr>
					<th>Destinazione Finale Paziente</th>
					<td class="align-middle">{{selectedReport.finalDestination}}</td>
				  </tr>
			  </tbody>
		  </table>
		</div>
	  </div>

	<div class="col-sm-2">
		<div class="card card border-primary h-100">
			<div class="card-header"><b>Injury Severity Score (ISS)</b></div>
			<div class="text-center" *ngIf="selectedReport.iss != undefined">
				<p style="height: 15pt; margin: 0pt;"></p>
				<h1>{{selectedReport.iss.totalIss}}</h1>
				<h6 *ngIf="selectedReport.iss.isPresumed">(presunto)</h6>
				<p style="height: 15pt; margin: 0pt;"></p>
				<div class="d-grid gap-2 align-items-baseline" style="margin-left: 10pt; margin-right: 7pt;">
					<button type="button" class="btn btn-primary btn-sm me-md-1" (click)="showISSDetails()">
						<i class="bi bi-info-square"></i><span class="align-middle">&nbsp;Dettagli</span>
					</button>
					<button *ngIf="!selectedReport._validation.isValidated" type="button" class="btn btn-primary btn-sm me-md-1" (click)="updateISS()">
						<i class="bi bi-pencil-square"></i><span class="align-middle">&nbsp;Aggiorna</span>
					</button>
				</div>
			</div>
		</div>
	  </div>
  </div>

<!--
<h4><span class="label label-default">Dati Generali </span></h4>

<table class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>	   
		<tr>
			<td>Trauma Leader</td>
		    <td>{{selectedReport | filterOperatorName }}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaTeamMembers !== undefined && selectedReport.traumaTeamMembers.length > 0">
			<td>Trauma Team</td>
			<td>{{selectedReport.traumaTeamMembers | filterTeamMembers }}</td>
		</tr>
		<tr *ngIf="selectedReport.delayedActivation != undefined && selectedReport.delayedActivation.isDelayedActivation == true">
			<td>Attivazione Ritardata </td>
			<td>si - data: {{selectedReport.delayedActivation.originalAccessDate}}, ora: {{selectedReport.delayedActivation.originalAccessTime}} </td>
		</tr>
		<tr>
			<td>Data Inizio Intervento</td>
			<td>{{selectedReport.startDate}}</td>
		</tr>
		<tr>
			<td>Ora Inizio Intervento</td>
			<td>{{selectedReport.startTime}}</td>
		</tr>
		<tr>
			<td>Data Fine Intervento</td>
			<td>{{selectedReport.endDate}}</td>
		</tr>
		<tr>
			<td>Ora Fine Intervento</td>
			<td>{{selectedReport.endTime}}</td>
		</tr>
		<tr>
			<td>Destinazione Finale</td>
			<td>{{selectedReport.finalDestination}}</td>
		</tr>
		<tr *ngIf="selectedReport.iss != undefined">
			<td>Injury Severity Score (ISS)</td>
			<td *ngIf="!selectedReport.iss.isPresumed">
				ISS Totale: {{selectedReport.iss.totalIss}} &nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="showISSDetails()">
					<i class="bi bi-info-square"></i><span class="align-middle">&nbsp;Dettagli</span>
				</button>
				<button *ngIf="!selectedReport._validation.isValidated" type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="updateISS()">
					<i class="bi bi-pencil-square"></i><span class="align-middle">&nbsp;Aggiorna</span>
				</button>
			</td>
			<td *ngIf="selectedReport.iss.isPresumed">
				ISS Presunto: {{selectedReport.iss.totalIss}} &nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="showISSDetails()">
					<i class="bi bi-info-square"></i><span class="align-middle">&nbsp;Dettagli</span>
				</button>
				<button *ngIf="!selectedReport._validation.isValidated" type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="updateISS()">
					<i class="bi bi-pencil-square"></i><span class="align-middle">&nbsp;Aggiorna</span>
				</button>
			</td>
		</tr>
		
	</tbody>
</table>
-->

<ng-template #issDetailsDialog>
<div class="modal-header">
	<h4 class="modal-title">ISS Totale: {{selectedReport.iss.totalIss}} - Dettagli</h4>
</div>
	<div class="modal-body">
	<table>
		<tbody>	   
			<tr>
				<td>
					<table>
						<tbody>
						<tr>
							<td style="width:200px"><p style="font-weight: bold">Zona</p></td>		
						    	<td style="width:50px"><p style="font-weight: bold">AIS</p></td>
						</tr>
						</tbody>
					</table>
				</td>
			    	<td style="width:100"><p style="font-weight:bold">ISS Totale</p></td>
			</tr>
			<tr>
				<td>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'Default'">
						<tbody>
						<tr style="height:20px">
							<td style="width:200px">Testa-Collo</td>		
							<td style="width:50px">{{selectedReport.iss.aisMap.headGroup.headNeckAis | getValueOrDash}}</td>			
						</tr>
						<tr style="height:20px">
							<td style="width:200px">Cervello</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.headGroup.brainAis | getValueOrDash }}</td>
						</tr> 
						<tr style="height:20px">
							<td style="width:200px">Colonna Cervicale</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.headGroup.cervicalSpineAis | getValueOrDash }}</td>
						</tr> 
						</tbody>
					</table>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						<tbody>
						<tr>
							<td style="width:200px">Lesioni Esterne</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.externaGroup.externaAis  | getValueOrDash}}</td>						
						</tr>   
						</tbody>
					</table>
				</td>
				<td style="width:100px; text-align:center" *ngIf="selectedReport.iss.aisMapType === 'Default'">
					{{selectedReport.iss.aisMap.headGroup.groupTotalIss}}
				</td>
				<td style="width:100px; text-align:center" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
					{{selectedReport.iss.aisMap.externaGroup.groupTotalIss}}
				</td>
			</tr>	
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'Default'">
						<tbody>
						<tr>
							<td style="width:200px">Viso</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.faceGroup.faceAis | getValueOrDash}}</td>
						</tr>
						</tbody>
					</table>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						<tbody>
						<tr style="height:20px">
							<td style="width:200px">Testa-Collo</td>		
							<td style="width:50px">{{selectedReport.iss.aisMap.headGroup.headNeckAis | getValueOrDash}}</td>			
						</tr>
						<tr style="height:20px">
							<td style="width:200px">Cervello</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.headGroup.brainAis | getValueOrDash }}</td>
						</tr> 
						<tr style="height:20px">
							<td style="width:200px">Colonna Cervicale</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.headGroup.cervicalSpineAis | getValueOrDash }}</td>
						</tr>
						<tr style="height:20px">
							<td style="width:200px">Viso</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.headGroup.faceAis | getValueOrDash }}</td>
						</tr>
						</tbody>
					</table>
				</td>
				<td style="width:100px;text-align:center" *ngIf="selectedReport.iss.aisMapType === 'Default'">
					{{selectedReport.iss.aisMap.faceGroup.groupTotalIss}}
				</td>
				<td style="width:100px;text-align:center" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
					{{selectedReport.iss.aisMap.headGroup.groupTotalIss}}
				</td>
			</tr>
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee">
						<tbody>
						<tr>
							<td style="width:200px">Torace</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.toraxGroup.toraxAis | getValueOrDash}}</td>
						</tr>
						<tr>
							<td style="width:200px">Colonna Vertebrale</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.toraxGroup.spineAis | getValueOrDash}}</td>
						</tr> 						
						</tbody>
					</table>
				</td>
				<td style="width:100px;text-align:center">{{selectedReport.iss.aisMap.toraxGroup.groupTotalIss}}</td>
			</tr>
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee">
						<tbody>
						<tr>
							<td style="width:200px">Addome</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.abdomenGroup.abdomenAis  | getValueOrDash}}</td>
						</tr>
						<tr>
							<td style="width:200px">Colonna Lombare</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.abdomenGroup.lumbarSpineAis  | getValueOrDash}}</td>
						</tr> 						
						</tbody>
					</table>
				</td>
				<td style="width:100px;text-align:center">{{selectedReport.iss.aisMap.abdomenGroup.groupTotalIss}}</td>
			 </tr>
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'Default'">
						<tbody>
						<tr>
							<td style="width:200px">Estremità Superiori</td>
							<td style="width:50px"> {{selectedReport.iss.aisMap.extremitiesGroup.upperExtremitiesAis  | getValueOrDash}}</td>
						</tr>
						<tr>
							<td style="width:200px">Estremità Inferiori</td>
							<td style="width:50px"> {{selectedReport.iss.aisMap.extremitiesGroup.lowerExtremitiesAis  | getValueOrDash}}</td>
						</tr> 						
						<tr>
							<td style="width:200px">Cintura Pelvica</td>
							<td style="width:50px"> {{selectedReport.iss.aisMap.extremitiesGroup.pelvicGirdleAis | getValueOrDash }}</td>
						</tr> 						
						</tbody>
					</table>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						<tbody>
						<tr>
							<td style="width:200px">Cintura Pelvica</td>
							<td style="width:50px">{{selectedReport.iss.aisMap.pelvicGirdleGroup.pelvicGirdleAis  | getValueOrDash}}</td>						
						</tr>   
						</tbody>
						</table>
				</td>
				<td style="width:100px;text-align:center" *ngIf="selectedReport.iss.aisMapType === 'Default'">
					{{selectedReport.iss.aisMap.extremitiesGroup.groupTotalIss}}
				</td>
				<td style="width:100px;text-align:center" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
					{{selectedReport.iss.aisMap.pelvicGirdleGroup.groupTotalIss}}
				</td>
			 </tr>
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'Default'">
					<tbody>
					<tr>
						<td style="width:200px">Lesioni Esterne</td>
						<td style="width:50px">{{selectedReport.iss.aisMap.externaGroup.externaAis  | getValueOrDash}}</td>						
					</tr>   
					</tbody>
					</table>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						<tbody>
						<tr>
							<td style="width:200px">Estremità Superiori</td>
							<td style="width:50px"> {{selectedReport.iss.aisMap.extremitiesGroup.upperExtremitiesAis  | getValueOrDash}}</td>
						</tr>
						<tr>
							<td style="width:200px">Estremità Inferiori</td>
							<td style="width:50px"> {{selectedReport.iss.aisMap.extremitiesGroup.lowerExtremitiesAis  | getValueOrDash}}</td>
						</tr> 						 						
						</tbody>
					</table>
					
				</td>
					<td style="width:100px;text-align:center" *ngIf="selectedReport.iss.aisMapType === 'Default'">
						{{selectedReport.iss.aisMap.externaGroup.groupTotalIss}}
					</td>
					<td style="width:100px;text-align:center" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						{{selectedReport.iss.aisMap.extremitiesGroup.groupTotalIss}}
					</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissDialog()">
			<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Chiudi</span>
		</button>
	</div>
</ng-template>

<ng-template #issUpdateDialog>
<div class="modal-header">
	<h4 class="modal-title">Aggiorna ISS - Totale attuale: {{selectedReport.iss.totalIss}}</h4>
</div>
	<div class="modal-body">
	<table>
		<tbody>	   
			<tr>
				<td>
					<table>
						<tbody>
						<tr>
							<td style="width:200px"><p style="font-weight: bold">Zona</p></td>		
						    	<td style="width:50px"><p style="font-weight: bold">AIS</p></td> 
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'Default'">
						<tbody>
						<tr style="height:20px">
							<td style="width:200px">Testa-Collo</td>		
							<td style="width:50px">
							 <input [(ngModel)]="box_headGroup_headNeckAis" type="number">
							</td>			
						</tr>
						<tr style="height:20px">
							<td style="width:200px">Cervello</td>
							<td style="width:50px">
							<input [(ngModel)]="box_headGroup_brainAis" type="number" >
							</td>
						</tr> 
						<tr style="height:20px">
							<td style="width:200px">Colonna Cervicale</td>
							<td style="width:50px">
							<input [(ngModel)]="box_headGroup_cervicalSpineAis" type="number" >
							</td>
						</tr> 
						</tbody>
					</table>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						<tbody>
						<tr>
							<td style="width:200px">Lesioni Esterne</td>
							<td style="width:50px">
							<input [(ngModel)]="box_externaGroup_externaAis" type="number" >
							</td>						
						</tr>   
						</tbody>
						</table>
				</td>
			</tr>	
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'Default'">
						<tbody>
						<tr>
							<td style="width:200px">Viso</td>
							<td style="width:50px">
							<input [(ngModel)]="box_faceGroup_faceAis" type="number">
							</td>
						</tr>
						</tbody>
					</table>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						<tbody>
						<tr style="height:20px">
							<td style="width:200px">Testa-Collo</td>		
							<td style="width:50px">
							 <input [(ngModel)]="box_headGroup_headNeckAis" type="number">
							</td>			
						</tr>
						<tr style="height:20px">
							<td style="width:200px">Cervello</td>
							<td style="width:50px">
							<input [(ngModel)]="box_headGroup_brainAis" type="number" >
							</td>
						</tr> 
						<tr style="height:20px">
							<td style="width:200px">Colonna Cervicale</td>
							<td style="width:50px">
							<input [(ngModel)]="box_headGroup_cervicalSpineAis" type="number" >
							</td>
						</tr>
						<tr>
							<td style="width:200px">Viso</td>
							<td style="width:50px">
							<input [(ngModel)]="box_headGroup_faceAis" type="number">
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee">
						<tbody>
						<tr>
							<td style="width:200px">Torace</td>
							<td style="width:50px">
							<input [(ngModel)]="box_toraxGroup_toraxAis" type="number" >
							</td>
						</tr>
						<tr>
							<td style="width:200px">Colonna Vertebrale</td>
							<td style="width:50px">
							<input [(ngModel)]="box_toraxGroup_spineAis" type="number" >
							</td>
						</tr> 						
						</tbody>
					</table>
				</td>
			</tr>
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee">
						<tbody>
						<tr>
							<td style="width:200px">Addome</td>
							<td style="width:50px">
							<input [(ngModel)]="box_abdomenGroup_abdomenAis" type="number" >
 							</td>
						</tr>
						<tr>
							<td style="width:200px">Colonna Lombare</td>
							<td style="width:50px">
							<input [(ngModel)]="box_abdomenGroup_lumbarSpineAis"  type="number" >
							</td>
						</tr> 						
						</tbody>
					</table>
				</td>
			 </tr>
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'Default'">
						<tbody>
						<tr>
							<td style="width:200px">Estremità Superiori</td>
							<td style="width:50px"> 
							<input [(ngModel)]="box_extremitiesGroup_upperExtremitiesAis" type="number" >
							</td>
						</tr>
						<tr>
							<td style="width:200px">Estremità Inferiori</td>
							<td style="width:50px"> 
							<input [(ngModel)]="box_extremitiesGroup_lowerExtremitiesAis" type="number" >
							</td>
						</tr> 						
						<tr>
							<td style="width:200px">Cintura Pelvica</td>
							<td style="width:50px"> 
							<input [(ngModel)]="box_extremitiesGroup_pelvicGirdleAis" type="number" >
							</td>
						</tr> 						
						</tbody>
					</table>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						<tbody>
						<tr>
							<td style="width:200px">Cintura Pelvica</td>
							<td style="width:50px">
							<input [(ngModel)]="box_pelvicGirdleGroup_pelvicGirdleAis" type="number">
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			 </tr>
			<tr style="height:10px">
			</tr>		
			<tr>
				<td>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'Default'">
					<tbody>
					<tr>
						<td style="width:200px">Lesioni Esterne</td>
						<td style="width:50px">
						<input [(ngModel)]="box_externaGroup_externaAis" type="number" >
						</td>						
					</tr>   
					</tbody>
					</table>
					<table style="background-color:#eeeeee" *ngIf="selectedReport.iss.aisMapType === 'CenterTBI'">
						<tbody>
						<tr>
							<td style="width:200px">Estremità Superiori</td>
							<td style="width:50px"> 
							<input [(ngModel)]="box_extremitiesGroup_upperExtremitiesAis" type="number" >
							</td>
						</tr>
						<tr>
							<td style="width:200px">Estremità Inferiori</td>
							<td style="width:50px"> 
							<input [(ngModel)]="box_extremitiesGroup_lowerExtremitiesAis" type="number" >
							</td>
						</tr> 						 						
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissDialog()">
			<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="confirmUpdateISS()">
			<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Aggiorna</span>
		</button>
	</div>
</ng-template>


