<div class="card">
	<div class="card-body">
		<table class="table ">
			<thead>
				<tr>
					<th>Gestione Database</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Reports Collection</td>
					<td>
						<button type="button" class="btn btn-outline-primary" (click)="resetReportsDB()">
							<i class="bi bi-exclamation-octagon"></i><span class="align-middle">&nbsp;Reset</span>
						</button>	
					</td>
				</tr>
				<tr>
					<td>Users Collection</td>
					<td>
						<button type="button" class="btn btn-outline-primary" (click)="resetUsersDB()">
							<i class="bi bi-exclamation-octagon"></i><span class="align-middle">&nbsp;Reset</span>
						</button>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
