<table style="width:900px;margin:auto">
<tr>
<td>
<div class="card">
	<div class="card-body">
    		<h5 class="card-title">Esportazione report aggregati</h5>
		<form class="form-inline">
			<div class="form-group">
				<table>
					<tr>
						<td style="width: 50px">Dal</td>
						<td style="width: 180px">
							<div class="input-group">
								<input class="form-control" placeholder="yyyy-mm-dd" name="dp1"
									[(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" (click)="d1.toggle()"
										type="button">
										<img src="assets/img/calendar-icon.svg"
											style="width: 1.2rem; height: 1rem; cursor: pointer;" />
									</button>
								</div>
							</div>
						</td>
						<td style="width: 50px; text-align: center">Al</td>
						<td style="width: 180px">
							<div class="input-group">
								<input class="form-control" placeholder="yyyy-mm-dd" name="dp2"
									[(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" (click)="d2.toggle()"
										type="button">
										<img src="assets/img/calendar-icon.svg"
											style="width: 1.2rem; height: 1rem; cursor: pointer;" />
									</button>
								</div>
							</div>
						</td>
						<td style="width:100px"><label>Operatore</label> </td>
						<td><input type="text" [(ngModel)]="operatorId" name="operator"/></td>
						<td style="width: 150px; text-align: center">
							<button (click)="onAggrExport()" type="button" class="btn btn-primary">Esporta</button>						
						</td>
					</tr>
				</table>
			</div>
		</form>

	</div>
</div>
</td>
</tr>

<tr>
<td><div style="height:20px"></div></td>
</tr>

<tr>
<td>
<div class="card">
	<div class="card-body">
    		<h5 class="card-title">Indicatori - default</h5>
		<form class="form-inline">
			<div class="form-group">
				<table>
					<tr>
						<td style="width: 50px">Anno</td>
						<td style="width: 140px">
						    <select (change)="yearSelected($event.target.value)">
							  <option value="2020">2020-2019</option>
							  <option value="2019">2019-2018</option>
							  <option value="2018">2018-2017</option>
						    </select>						
						</td>
						<td style="width: 50px">Periodo</td>
						<td style="width: 180px">
						    <select (change)="periodSelected($event.target.value)">
							  <option value="jan-jun">Gennaio-Giugno</option>
							  <option value="jul-dec">Luglio-Dicembre</option>
							  <option value="jan-dec">Gennaio-Dicembre</option>
						    </select>						
						</td>
						<td style="width: 100px; text-align: center">
							<button (click)="computeDefIndic()" type="button" class="btn btn-primary">Calcola</button>						
						</td>
						<td style="width: 100px; text-align: center" *ngIf="defIndicatorsData !== undefined">
							<button  (click)="exportDefIndicPDF()" type="button" class="btn btn-primary" disabled>Esporta PDF</button>						
						</td>
						<td style="width: 100px; text-align: center" *ngIf="defIndicatorsData !== undefined">
							<button  (click)="exportDefIndicCSV()" type="button" class="btn btn-primary">Esporta CSV</button>						
						</td>
						<td style="width: 100px; text-align: center" *ngIf="defIndicatorsData !== undefined">
							<button  (click)="resetDefIndic()" type="button" class="btn btn-primary">Chiudi</button>						
						</td>
					</tr>
					<tr>
					<td><div style="height:20px"></div></td>
					</tr>
				</table>
			</div>
			<div class="form-group">
				<table *ngIf="defIndicatorsData !== undefined" style="width:850px" class="table table-striped">
					<thead>
					  <tr>
					    <th style="width:40%">Indicatore</th>
					    <th style="width:30%">
					    		<div>Anno {{defIndicatorsData.refYear.year}}</div>
					    		<div>({{defIndicatorsData.refYear.nReports}} reports)</div>
					    	</th>
					    <th style="width:30%">
					    		<div>Anno {{defIndicatorsData.prevYear.year}}</div>
					    		<div>({{defIndicatorsData.prevYear.nReports}} reports)</div>
					    </th>
					  </tr>
					</thead>
					
					<tbody>	   
						<tr>
							<td style="width:40%">Num totale traumi (report validi)</td>	
							<td style="width:30%">{{defIndicatorsData.refYear.traumaISSIndic.nTotTrauma}}</td>
							<td style="width:30%">{{defIndicatorsData.prevYear.traumaISSIndic.nTotTrauma}}</td>
						</tr>
						<tr>
							<td>Percentuale traumi con ISS > 14</td>	
							<td>{{defIndicatorsData.refYear.traumaISSIndic.issGreaterThan14Perc}} %</td>
							<td>{{defIndicatorsData.prevYear.traumaISSIndic.issGreaterThan14Perc}} %</td>
						</tr>
						<tr>
							<td>Numero pazienti in shock emorragico (presunto) per cui tempo 
							    tra ingresso in shock room e damage control < 1h </td>	
							<td>{{defIndicatorsData.refYear.numShockEmoWithShortDamContrTime.nTrauma}}</td>
							<td>{{defIndicatorsData.prevYear.numShockEmoWithShortDamContrTime.nTrauma}}</td>
						</tr>
						<tr>
							<td>Tempo (in minuti) alla prima manovra terapeutica in emergenza</td>	
							<td>
							<div>numero casi:  {{defIndicatorsData.refYear.timingFirstERProcIndic.nValues}}</div>
							<div>media (in minuti): {{defIndicatorsData.refYear.timingFirstERProcIndic.mean}}</div>
							<div>σ: {{defIndicatorsData.refYear.timingFirstERProcIndic.standDev}}</div>
							<div>mediana: {{defIndicatorsData.refYear.timingFirstERProcIndic.median}}</div>
							<div>iqr: {{defIndicatorsData.refYear.timingFirstERProcIndic.iqr}}</div>
							</td>
							<td>
							<div>numero casi:  {{defIndicatorsData.prevYear.timingFirstERProcIndic.nValues}}</div>
							<div>media: {{defIndicatorsData.prevYear.timingFirstERProcIndic.mean}}</div>
							<div>σ: {{defIndicatorsData.prevYear.timingFirstERProcIndic.standDev}}</div>
							<div>mediana: {{defIndicatorsData.prevYear.timingFirstERProcIndic.median}}</div>
							<div>iqr: {{defIndicatorsData.prevYear.timingFirstERProcIndic.iqr}}</div>
							</td>
						</tr>
						<tr>
							<td>Tempo (in minuti) tra ingresso shock room e tc</td>	
							<td>
							<div>numero casi:  {{defIndicatorsData.refYear.timingShockRoomTACIndic.nValues}}</div>
							<div>media: {{defIndicatorsData.refYear.timingShockRoomTACIndic.mean}}</div>
							<div>mediana: {{defIndicatorsData.refYear.timingShockRoomTACIndic.median}}</div>
							<div>σ: {{defIndicatorsData.refYear.timingShockRoomTACIndic.standDev}}</div>
							<div>iqr: {{defIndicatorsData.refYear.timingShockRoomTACIndic.iqr}}</div>
							</td>
							<td>
							<div>numero casi:  {{defIndicatorsData.prevYear.timingShockRoomTACIndic.nValues}}</div>
							<div>media: {{defIndicatorsData.prevYear.timingShockRoomTACIndic.mean}}</div>
							<div>mediana: {{defIndicatorsData.prevYear.timingShockRoomTACIndic.median}}</div>
							<div>σ: {{defIndicatorsData.prevYear.timingShockRoomTACIndic.standDev}}</div>
							<div>iqr: {{defIndicatorsData.prevYear.timingShockRoomTACIndic.iqr}}</div>
							</td>
						</tr>
						<tr>
							<td>Tempo (in minuti) tra ingresso in shock room e damage control per traumi in shock emorragico</td>	
							<td>
							<div>numero casi:  {{defIndicatorsData.refYear.timingShockRoomORforShockEmoIndic.nValues}}</div>
							<div>media:  {{defIndicatorsData.refYear.timingShockRoomORforShockEmoIndic.mean}}</div>
							<div>mediana:  {{defIndicatorsData.refYear.timingShockRoomORforShockEmoIndic.median}}</div>
							<div>σ: {{defIndicatorsData.refYear.timingShockRoomORforShockEmoIndic.standDev}}</div>
							<div>iqr: {{defIndicatorsData.refYear.timingShockRoomORforShockEmoIndic.iqr}}</div>
							</td>
							<td>
							<div>numero casi:  {{defIndicatorsData.prevYear.timingShockRoomORforShockEmoIndic.nValues}}</div>
							<div>media:  {{defIndicatorsData.prevYear.timingShockRoomORforShockEmoIndic.mean}}</div>
							<div>mediana:  {{defIndicatorsData.prevYear.timingShockRoomORforShockEmoIndic.median}}</div>
							<div>σ: {{defIndicatorsData.prevYear.timingShockRoomORforShockEmoIndic.standDev}}</div>
							<div>iqr: {{defIndicatorsData.prevYear.timingShockRoomORforShockEmoIndic.iqr}}</div>
							</td>
						</tr>
						<tr>
							<td>Numero di pazienti con GCS < 9 e arrivati intubati</td>	
							<td>
							<div>{{defIndicatorsData.refYear.nTraumaGCSLowAndIntubated.nTrauma}}</div>
							</td>
							<td>
							<div>{{defIndicatorsData.prevYear.nTraumaGCSLowAndIntubated.nTrauma}}</div>
							</td>
						</tr>
						<tr>
							<td>Numero attivazioni ritardate</td>	
							<td>
							<div>{{defIndicatorsData.refYear.nDelayedActivations.nTrauma}}</div>
							</td>
							<td>
							<div>{{defIndicatorsData.prevYear.nDelayedActivations.nTrauma}}</div>
							</td>
						</tr>
						<tr>
							<td>Tempo (in minuti) tra ingresso in shock Room e tc per traumi con pupille anisocoriche e GCS < 9</td>	
							<td>
							<div>numero casi:  {{defIndicatorsData.refYear.timingShockRoomTacGCSPupilsIndic.nValues}}</div>
							<div>media:  {{defIndicatorsData.refYear.timingShockRoomTacGCSPupilsIndic.mean}}</div>
							<div>mediana:  {{defIndicatorsData.refYear.timingShockRoomTacGCSPupilsIndic.median}}</div>
							<div>σ: {{defIndicatorsData.refYear.timingShockRoomTacGCSPupilsIndic.standDev}}</div>
							<div>iqr: {{defIndicatorsData.refYear.timingShockRoomTacGCSPupilsIndic.iqr}}</div>						
							</td>
							<td>
							<div>numero casi:  {{defIndicatorsData.prevYear.timingShockRoomTacGCSPupilsIndic.nValues}}</div>
							<div>media:  {{defIndicatorsData.prevYear.timingShockRoomTacGCSPupilsIndic.mean}}</div>
							<div>mediana:  {{defIndicatorsData.prevYear.timingShockRoomTacGCSPupilsIndic.median}}</div>
							<div>σ: {{defIndicatorsData.prevYear.timingShockRoomTacGCSPupilsIndic.standDev}}</div>
							<div>iqr: {{defIndicatorsData.prevYear.timingShockRoomTacGCSPupilsIndic.iqr}}</div>						
							</td>
						</tr>
						<tr>
							<td>Numero di pazienti con frattura pelvica con Pelvic binder </td>	
							<td>
							<div>{{defIndicatorsData.refYear.nPelvicFractures.nTrauma}}</div>
							</td>
							<td>
							<div>{{defIndicatorsData.prevYear.nPelvicFractures.nTrauma}}</div>
							</td>
						</tr>
						<tr>
							<td>Tempo (in minuti) di permanenza in shock room</td>	
							<td>
							<div>media:  {{defIndicatorsData.refYear.timingInShockRoomIndic.mean}}</div>
							<div>σ: {{defIndicatorsData.refYear.timingInShockRoomIndic.standDev}}</div>
							<div>mediana:  {{defIndicatorsData.refYear.timingInShockRoomIndic.median}}</div>
							<div>iqr: {{defIndicatorsData.refYear.timingInShockRoomIndic.iqr}}</div>
							</td>
							<td>
							<div>media:  {{defIndicatorsData.prevYear.timingInShockRoomIndic.mean}}</div>
							<div>σ: {{defIndicatorsData.prevYear.timingInShockRoomIndic.standDev}}</div>
							<div>mediana:  {{defIndicatorsData.prevYear.timingInShockRoomIndic.median}}</div>
							<div>iqr: {{defIndicatorsData.prevYear.timingInShockRoomIndic.iqr}}</div>
							</td>
						</tr>
						<tr>
							<td>Numero di traumi in shock emorragico (presunto) che hanno effettuato tc prima di entrare in sala operatoria</td>	
							<td>
							<div>{{defIndicatorsData.refYear.nShockEmoWithTACBeforeOR.nTrauma}}</div>
							</td>
							<td>
							<div>{{defIndicatorsData.prevYear.nShockEmoWithTACBeforeOR.nTrauma}}</div>
							</td>
						</tr>
						<tr>
							<td>Tempo (in minuti) di permanenza in shock room per pazienti che entrano in sala operatoria</td>	
							<td>
							<div>numero casi:  {{defIndicatorsData.refYear.timingInShockRoomIfOpRoomIndic.nValues}}</div>
							<div>media:  {{defIndicatorsData.refYear.timingInShockRoomIfOpRoomIndic.mean}}</div>
							<div>σ: {{defIndicatorsData.refYear.timingInShockRoomIfOpRoomIndic.standDev}}</div>
							<div>mediana:  {{defIndicatorsData.refYear.timingInShockRoomIfOpRoomIndic.median}}</div>
							<div>iqr: {{defIndicatorsData.refYear.timingInShockRoomIfOpRoomIndic.iqr}}</div>
							</td>
							<td>
							<div>numero casi:  {{defIndicatorsData.prevYear.timingInShockRoomIfOpRoomIndic.nValues}}</div>
							<div>media:  {{defIndicatorsData.prevYear.timingInShockRoomIfOpRoomIndic.mean}}</div>
							<div>σ: {{defIndicatorsData.prevYear.timingInShockRoomIfOpRoomIndic.standDev}}</div>
							<div>mediana:  {{defIndicatorsData.prevYear.timingInShockRoomIfOpRoomIndic.median}}</div>
							<div>iqr: {{defIndicatorsData.prevYear.timingInShockRoomIfOpRoomIndic.iqr}}</div>
							</td>
						</tr>
						
					</tbody>	   
				</table>
			</div>
		</form>
	</div>
</div>
</td>
</tr>

<tr>
<td><div style="height:20px"></div></td>
</tr>

<tr>
<td>
<div class="card">
	<div class="card-body">
    		<h5 class="card-title">Indicatori generali</h5>
		<!-- <form class="form-inline"> -->
			<div class="form-group">
				<table>
				<tr>
					<table>
						<tr *ngFor='let indic of indicators'>
    							<td><label style="width:220px">{{indic.desc}}</label><td>
    							<td><input type="checkbox" [attr.id]="indic.selected" [(ngModel)]="indic.selected" /></td>						
    							<td><label style="width:40px"></label><td>
					</tr>
					</table>
					<td>
						<table>
						<tr style="height:20px" >
							<td style="width: 50px; text-align: center">Dal</td>
							<td style="width: 180px">
								<div class="input-group">
									<input class="form-control" placeholder="yyyy-mm-dd" name="dp1"
										[(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" (click)="d1.toggle()"
											type="button">
											<img src="assets/img/calendar-icon.svg"
												style="width: 1.2rem; height: 1rem; cursor: pointer;" />
										</button>
									</div>
								</div>
							</td>
						</tr>
						<tr style="height:20px" >
							<td style="width: 50px; text-align: center">Al</td>
							<td style="width: 180px">
								<div class="input-group">
									<input class="form-control" placeholder="yyyy-mm-dd" name="dp2"
										[(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker" > 
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" (click)="d2.toggle()"
											type="button">
											<img src="assets/img/calendar-icon.svg"
												style="width: 1.2rem; height: 1rem; cursor: pointer;" />
										</button>
									</div>
								</div>
							</td>

						</tr>
						<tr style="height:40px">
							<td style="width:200px">
							Andamento temporale
							</td>
							<td>
							<select class='select-option' [(ngModel)]='box_indic_temporalunit' >
			 					<option class='option' *ngFor='let option of box_indic_temporalunit_options' [value]="option">{{option}}
				 				</option>
							</select>
							<td>
						</tr>
						<tr style="height:20px">
							<td style="width:200px"><label>Includi confronto con anno precedente</label> </td>
							<!-- <td><input type="text" [(ngModel)]="box_issConstraint" name="box_issConstraint"/></td>  -->
    							<td><input type="checkbox" [attr.id]="comparisonWithPrevYear" [(ngModel)]="comparisonWithPrevYear" /></td>						
						</tr>
						
						</table>
					</td>

					<td style="width: 150px; text-align: center">
						<button (click)="computeIndic()" type="button" class="btn btn-primary">Calcola</button>						
					</td>
					
					
				</tr>	
				</table>
			</div>
		<!-- </form>  -->

	</div>
</div>
</td>
</tr>
<tr>
<td>
<div *ngIf="showIndicCharts">
	<div style="margin-top:30px">
		<h4>
		<span class="label label-default" style="margin-right:40px">Grafico Andamenti</span>
		</h4>
	</div>
	<div *ngFor="let indic of indicators" style="margin-top:30px" class="chartWrapper">
	      <div *ngIf="indic.selected" class="chartAreaWrapper">
	        <div id="{{indic.wrapperId}}" class="chartAreaWrapper2">
	  			<canvas id="{{indic.canvasId}}"></canvas> 
	        </div>
	        <div *ngIf="indic.hasPerc()" id="{{indic.wrapperPercId}}" class="chartAreaWrapper2">
	  			<canvas id="{{indic.canvasPercId}}"></canvas> 
	        </div>
	        <div *ngIf="indic.hasCompanion()" id="{{indic.wrapperCompanionId}}" class="chartAreaWrapper2">
	  			<canvas id="{{indic.canvasCompanionId}}"></canvas> 
	        </div>
	      </div>
	</div>
	<!-- 
	<div style="margin-top:30px" class="chartWrapper">
	      <div class="chartAreaWrapper">
	        <div id="indicChart1AreaWrapper" class="chartAreaWrapper2">
	  			<canvas id="indicChart1"></canvas> 
	        </div>
	      </div>
	</div>
	-->
	
</div>
</td>
</tr>

</table>

