<app-tag-insertion></app-tag-insertion>
<h2> Tag list </h2>
<div class="tag-container">
    <a href="tags/{{tag.id}}" *ngFor="let tag of tags" class="tag"><p>Id: {{tag.id}} serialNumber: {{tag.serialNumber}}</p></a>
</div>
