<h4 *ngIf="selectedReport.anamnesi | isAnamnesyNotEmpty">
	<span class="label label-default">Anamnesi</span>
</h4>

<table *ngIf="selectedReport.anamnesi | isAnamnesyNotEmpty" class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngIf="selectedReport.anamnesi.antiplatelets | isValidValue">
			<td>Antiaggreganti</td>
			<td>{{selectedReport.anamnesi.antiplatelets | getYesNoValue }}</td>
		</tr>
		<tr *ngIf="selectedReport.anamnesi.anticoagulants | isValidValue">
			<td>Anticoagulanti</td>
			<td>{{selectedReport.anamnesi.anticoagulants | getYesNoValue }}</td>
		</tr>
		<tr *ngIf="selectedReport.anamnesi.nao | isValidValue">
			<td>NAO</td>
			<td>{{selectedReport.anamnesi.nao | getYesNoValue }}</td>
		</tr>
	</tbody>
</table>
