* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-left: 0.5%;
}

nav a {
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 5px;
}

nav a:visited, a:link {
  color: #607d8b;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
