<main>
  <h1>Location Service</h1>
  <nav>
    <a routerLink="home">Home</a>
    <a routerLink="/tags">Tag</a>
    <a routerLink="/gateways">Gateway</a>
    <a routerLink="/regions">Region</a>
  </nav>
  <router-outlet></router-outlet>
</main>
