<h2> Selected gateway </h2>
<div class="container">
  <div>
    <p>Id: {{gw.id}}</p>
    <label> IpAddress: <input [(ngModel)]="gw.ipAddress"/></label>
    <label> Place:
      <select [(ngModel)]="gw.place">
        <option *ngFor="let region of rl" value="{{region.id}}"> {{region.name}} - {{region.id}} </option>
      </select>
    </label>
    <label> Threshold: <input [(ngModel)]="gw.threshold"/> </label>
     <button (click)="updateGateway()">Save</button>
  </div>
  <button (click)="deleteGateway()">Delete</button>
</div>
<app-gateways></app-gateways>
