<div class="row">
	<div class="col-sm-5">
	  <div class="card border-primary h-100">
		<div class="card-header"><b>Informazioni Paziente e Anagrafica</b></div>
		<table class="table table-borderless ">
			<tbody>
				<tr *ngIf="selectedReport.traumaInfo.code | isValidValue">
					<th>Codice PS</th>
					<td class="align-middle">{{selectedReport.traumaInfo.code}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.sdo | isValidValue">
					<th>Codice SDO</th>
					<td class="align-middle">{{selectedReport.traumaInfo.sdo}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.admissionCode | isValidValue">
					<th>Ammissione in PS</th>
					<td class="align-middle">{{selectedReport.traumaInfo.admissionCode}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.name | isValidValue">
					<th>Nome</th>
					<td class="align-middle">{{selectedReport.traumaInfo.name}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.surname | isValidValue">
					<th>Cognome</th>
					<td class="align-middle">{{selectedReport.traumaInfo.surname}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.gender | isValidValue">
					<th>Genere</th>
					<td class="align-middle">{{selectedReport.traumaInfo.gender}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.dob | isValidValue">
					<th>Data di nascita</th>
					<td class="align-middle">{{selectedReport.traumaInfo.dob}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.age | isValidValue">
					<th>Et&agrave;</th>
					<td class="align-middle">{{selectedReport.traumaInfo.age}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.erDeceased | isValidValue">
					<th>Paziente deceduto in ospedale</th>
					<td class="align-middle">{{selectedReport.traumaInfo.erDeceased | getYesNoValue }}</td>
				</tr>
			</tbody>
		</table>
	  </div>
	</div>

	<div class="col-sm-3 h-100">
		<div class="card border-primary" style="margin-bottom: 20pt;">
			<div class="card-header"><b>Anamnesi Paziente</b></div>
			<table class="table table-borderless">
				<tbody>
					<tr *ngIf="selectedReport.anamnesi.antiplatelets | isValidValue">
						<th>Antiaggreganti</th>
						<td class="align-middle">{{selectedReport.anamnesi.antiplatelets | getYesNoValue }}</td>
					</tr>
					<tr *ngIf="selectedReport.anamnesi.anticoagulants | isValidValue">
						<th>Anticoagulanti</th>
						<td class="align-middle">{{selectedReport.anamnesi.anticoagulants | getYesNoValue }}</td>
					</tr>
					<tr *ngIf="selectedReport.anamnesi.nao | isValidValue">
						<th>NAO</th>
						<td class="align-middle">{{selectedReport.anamnesi.nao | getYesNoValue }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card border-primary">
			<div class="card-header"><b>Criteri Trauma Maggiore</b></div>
			<table class="table table-borderless">
				<tbody>
					<tr *ngIf="selectedReport.majorTraumaCriteria.dynamic | isValidValue">
						<th>Dinamico</th>
						<td class="align-middle">{{selectedReport.majorTraumaCriteria.dynamic | getYesNoValue}}</td>
					</tr>
					<tr *ngIf="selectedReport.majorTraumaCriteria.physiological | isValidValue">
						<th>Fisiologico</th>
						<td class="align-middle">{{selectedReport.majorTraumaCriteria.physiological | getYesNoValue }}</td>
					</tr>
					<tr *ngIf="selectedReport.majorTraumaCriteria.anatomical | isValidValue">
						<th>Anatomico</th>
						<td class="align-middle">{{selectedReport.majorTraumaCriteria.anatomical | getYesNoValue}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="card border-primary h-100">
		  <div class="card-header"><b>Informazioni Incidente</b></div>
		  <table class="table table-borderless">
			<tbody>
				<tr *ngIf="selectedReport.traumaInfo.accidentDate | isValidValue ">
					<th>Data dell'incidente</th>
					<td class="align-middle">{{selectedReport.traumaInfo.accidentDate}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.accidentTime | isValidValue ">
					<th>Ora dell'incidente</th>
					<td class="align-middle">{{selectedReport.traumaInfo.accidentTime}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.accidentType | isValidValue ">
					<th>Tipo di incidente</th>
					<td class="align-middle">{{selectedReport.traumaInfo.accidentType}}</td>
				</tr>
				<tr *ngIf="selectedReport.traumaInfo.vehicle | isValidValue">
					<th>Veicolo di arrivo in PS</th>
					<td class="align-middle">{{selectedReport.traumaInfo.vehicle}}</td>
				</tr>
				<tr *ngIf="(selectedReport.traumaInfo.fromOtherEmergency | isValidValue) && selectedReport.traumaInfo.fromOtherEmergency ">
					<th>Provenienza da altro PS</th>
					<td class="align-middle">sì ({{selectedReport.traumaInfo.otherEmergency}})</td>
				</tr>
				<tr *ngIf="(selectedReport.traumaInfo.fromOtherEmergency | isValidValue) && !selectedReport.traumaInfo.fromOtherEmergency ">
					<th>Provenienza da altro PS</th>
					<td class="align-middle">no</td>
				</tr>
				
			</tbody>
		  </table>
		</div>
	</div>
</div>


<!--<h4>
	<span class="label label-default">Informazioni Trauma </span>
</h4>

<table class="table table-striped">
	<thead>
	 <tr>
	    <th style="width:40%"></th>
	    <th style="width:60%"></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngIf="selectedReport.traumaInfo.code | isValidValue">
			<td>Codice PS</td>
			<td>{{selectedReport.traumaInfo.code}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.sdo | isValidValue">
			<td>Codice SDO</td>
			<td>{{selectedReport.traumaInfo.sdo}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.admissionCode | isValidValue">
			<td>Codice Ammissione in PS</td>
			<td>{{selectedReport.traumaInfo.admissionCode}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.name | isValidValue">
			<td>Nome</td>
			<td>{{selectedReport.traumaInfo.name}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.surname | isValidValue">
			<td>Cognome</td>
			<td>{{selectedReport.traumaInfo.surname}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.gender | isValidValue">
			<td>Genere</td>
			<td>{{selectedReport.traumaInfo.gender}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.dob | isValidValue">
			<td>Data di nascita</td>
			<td>{{selectedReport.traumaInfo.dob}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.age | isValidValue">
			<td>Et&agrave;</td>
			<td>{{selectedReport.traumaInfo.age}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.accidentDate | isValidValue ">
			<td>Data dell'incidente</td>
			<td>{{selectedReport.traumaInfo.accidentDate}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.accidentTime | isValidValue ">
			<td>Ora dell'incidente</td>
			<td>{{selectedReport.traumaInfo.accidentTime}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.accidentType | isValidValue ">
			<td>Tipo di incidente</td>
			<td>{{selectedReport.traumaInfo.accidentType}}</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.vehicle | isValidValue">
			<td>Veicolo di arrivo in PS</td>
			<td>{{selectedReport.traumaInfo.vehicle}}</td>
		</tr>
		<tr *ngIf="(selectedReport.traumaInfo.fromOtherEmergency | isValidValue) && selectedReport.traumaInfo.fromOtherEmergency ">
			<td>Provenienza da altro PS</td>
			<td>sì ({{selectedReport.traumaInfo.otherEmergency}})</td>
		</tr>
		<tr *ngIf="(selectedReport.traumaInfo.fromOtherEmergency | isValidValue) && !selectedReport.traumaInfo.fromOtherEmergency ">
			<td>Provenienza da altro PS</td>
			<td>no</td>
		</tr>
		<tr *ngIf="selectedReport.traumaInfo.erDeceased | isValidValue">
			<td>Paziente deceduto in ospedale</td>
			<td>{{selectedReport.traumaInfo.erDeceased | getYesNoValue }}</td>
		</tr>
	</tbody>
</table>-->
