<h2> Insert Region </h2>
<div class="container">
    <label>Id: {{baseId}} <input [(ngModel)]="region.id" value="{{region.id}}"/></label>
    <label>Name: <input [(ngModel)]="region.name" value="{{region.name}}"/></label>
    <button (click)="addRegion()">Insert</button>
</div>
