<nav class="navbar navbar-light" style="background: #6d9eeb;color: #ffffff">
	<div class="container-fluid">
		<h3 class="display-3">TraumaTracker</h3>
		<span class="navbar-text" style="color: #ffffff">{{ version }}</span>
	</div>
</nav>

<div style="background:#bcd2f6;color:#ffffff;width:100%">
	<table style="width:auto; margin-right:0px; margin-left:auto;">
		<tr *ngIf="isUserLogged">
			<td style="padding:10px; color:#808080">
				Utente: {{ user.userId }}
			</td>
			<td style="padding:5px;">
				<button type="button" class="btn btn-sm btn-outline-info" (click)="openUserProfileDialog()">
					<i class="bi bi-pencil"></i><span class="align-middle">&nbsp;Profilo</span>
				</button>
			</td>
			<td style="padding:5px;">
				<button type="button" class="btn btn-sm btn-outline-info" (click)="logout()">
					<i class="bi bi-box-arrow-right"></i><span class="align-middle">&nbsp;Esci</span>
				</button>
			</td>
		</tr>
	</table>
</div>

<ng-template #updateUserModal>
	<div class="modal-header">
		<h4 class="modal-title text-uppercase">Aggiornamento profilo utente</h4>
	</div>
	<div class="modal-body">
		<form class="form-inline">
			<div class="form-group">
				<table>
					<tr>
						<td style="width: 150px">E-mail</td>
						<td style="width: 300px">
							<input type="text" [(ngModel)]="updatedEmail" name="updatedEmail"/>
						</td>
					</tr>
					<tr>
						<td style="width: 150px">Password</td>
						<td style="width: 300px">
							<input type="password" [(ngModel)]="updatedPassword" name="updatedPassword"/>
						</td>
					</tr>
				</table>
			</div>			
		</form>			
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissUpdateUserDialog()">
			<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="updateUser()">
			<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Aggiorna</span>
		</button>				
	</div>
</ng-template>

