<!-- 
<nav>
  <a routerLink="/recent-reports" routerLinkActive="active">Report Recenti</a>
  <a routerLink="/find-report" routerLinkActive="active">Cerca Report</a>
  <a *ngIf="canUserManageData()" routerLink="/elab-data" routerLinkActive="active">Elaborazione Dati</a>
  <a *ngIf="canUserManageUsers()" routerLink="/users" routerLinkActive="active">Utenti</a>
  <a *ngIf="canUserAdmin()" routerLink="/admin" routerLinkActive="active">Admin</a>
</nav>

<router-outlet></router-outlet>
-->

<!-- TO BE TESTED
<ul ngbNav #nav="ngbNav" class="nav pills" style="margin-top: 20pt;">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Report Recenti</a>
    <ng-template ngbNavContent>
      <div class="container" style="padding-top: 20px">
        <recent-reports></recent-reports>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Cerca Report</a>
    <ng-template ngbNavContent>
      <div class="container" style="padding-top: 20px">
        <find-report></find-report>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3" *ngIf="canUserManageData()">
    <a ngbNavLink>Elaborazione Dati</a>
    <ng-template ngbNavContent>
      <div class="container" style="padding-top: 20px">
        <data-analysis></data-analysis>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="4" *ngIf="canUserManageUsers()">
    <a ngbNavLink>Utenti</a>
    <ng-template ngbNavContent>
      <div class="container" style="padding-top: 20px">
        <user></user>
        </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="5" *ngIf="canUserAdmin()">
    <a ngbNavLink>Admin</a>
    <ng-template ngbNavContent>
      <div class="container" style="padding-top: 20px">
        <admin></admin>
        </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
-->

<div style="height:20px"></div>
<ngb-tabset type="pills" justify="center">
  <ngb-tab title="Report Recenti" >
    <ng-template ngbTabContent>
		<div class="container" style="padding-top: 20px">
			<recent-reports></recent-reports>
		</div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Cerca Report">
    <ng-template ngbTabContent>
		<div class="container" style="padding-top: 20px">
			<find-report></find-report>
		</div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Elaborazione Dati" *ngIf="canUserManageData()">
    <ng-template ngbTabContent>
		<div class="container" style="padding-top: 20px">
			<data-analysis></data-analysis>
		</div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Utenti" *ngIf="canUserManageUsers()" >
    <ng-template ngbTabContent>
		<div class="container" style="padding-top: 20px">
		<user></user>
		</div>
    </ng-template>
  </ngb-tab>
   <ngb-tab title="Admin" *ngIf="canUserAdmin()" >
    <ng-template ngbTabContent>
		<div class="container" style="padding-top: 20px">
		<admin></admin>
		</div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
 