<!-- Panel for Visualizing a Report -->

<div class="card" *ngIf="isReportToShow">
	<div class="card-header container-fluid" style="background: #6d9eeb !important; color: #ffffff ! important" >
		<div class="row">
			<div class="col-md-4" style="vertical-align: middle;">
				<h4>Report {{selectedReport._id}}</h4>
			</div>
			<div class="col-md-8 float-right d-md-flex justify-content-md-end" style="padding-right: 0pt; padding-left: 0pt;">
				<button type="button" class="btn btn-primary btn-sm me-md-1" (click)="printReport(false)">
					<i class="bi bi-printer"></i><span class="align-middle">&nbsp;Scarica PDF</span>
				</button>
				<button type="button" class="btn btn-primary btn-sm me-md-1" (click)="printReport(true)">
					<i class="bi bi-printer"></i><span class="align-middle">&nbsp;Scarica PDF (con foto)</span>
				</button>
				<button type="button" class="btn btn-primary btn-sm me-md-1" (click)="exportReport(selectedReport)">
					<i class="bi bi-file-earmark-spreadsheet"></i><span class="align-middle">&nbsp;Scarica CSV</span>
				</button>
				<button type="button" class="btn btn-primary btn-sm me-md-1" (click)="deleteReport()">
					<i class="bi bi-trash"></i><span class="align-middle">&nbsp;Elimina Report</span>
				</button>
				<button type="button" class="btn btn-primary btn-sm me-md-1" (click)="backToMain()">
					<i class="bi bi-x-square"></i><span class="align-middle">&nbsp;Chiudi</span>
				</button>
			</div>
		</div>

		<br />
		
		<div class="row">
			<div class="col-md-2" style="text-align: right;">
				<h6><span class="label label-default">Stato Validazione Report </span></h6>
			</div>
			<div *ngIf="selectedReport._validation.isValidated" class="col-md-6">
				Report validato in data {{selectedReport._validation.validationDate}}
				<br/>
				da {{selectedReport._validation.operatorId}}
			</div>
			<div *ngIf="!selectedReport._validation.isValidated" class="col-md-6">
				Report non ancora validato
				<br/>
				<button type="button" class="btn btn-primary btn-sm me-md-1" (click)="validate()">
					<i class="bi bi-check2-square"></i><span class="align-middle">&nbsp;Valida Report</span>
				</button>
			</div>
		</div>

		<br />

		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item">
				<label  type="button" class="nav-link" [ngClass]="{'active': currentTab === 1}" (click)="changeTab(1)">Dati Generali</label >
			</li>
			<li class="nav-item">
				<label  type="button" class="nav-link" [ngClass]="{'active': currentTab === 2}" (click)="changeTab(2)">Scheda PreH</label >
			</li>
			<li class="nav-item">
				<label  type="button" class="nav-link" [ngClass]="{'active': currentTab === 3}" (click)="changeTab(3)">Quadro Clinico</label >
			</li>
			<li class="nav-item">
				<label  type="button" class="nav-link" [ngClass]="{'active': currentTab === 4}" (click)="changeTab(4)">Traccia degli Eventi</label >
			</li>
		</ul>
	</div>

	<div class="card-body">
		<div *ngIf="currentTab===1">
			<general-info [selectedReport]="selectedReport"></general-info>
			<br/>
			<trauma-info [selectedReport]="selectedReport"></trauma-info>
			<!--<br/>
			<anamnesi [selectedReport]="selectedReport"></anamnesi>
			<major-trauma-criteria [selectedReport]="selectedReport"></major-trauma-criteria>-->
		</div>
		<div *ngIf="currentTab===2">
			<pre-h [selectedReport]="selectedReport"></pre-h>
		</div>
		<div *ngIf="currentTab===3">
			<patient-initial-status [selectedReport]="selectedReport"></patient-initial-status>
		</div>
		<div *ngIf="currentTab===4">
			<event-trace [selectedReport]="selectedReport"></event-trace>
			<events-chart [selectedReport]="selectedReport"></events-chart>
		</div>
		  
		<!--
		<general-info [selectedReport]="selectedReport"></general-info>
		<trauma-info [selectedReport]="selectedReport"></trauma-info>		
		<major-trauma-criteria [selectedReport]="selectedReport"></major-trauma-criteria>
		<anamnesi [selectedReport]="selectedReport"></anamnesi>
		<pre-h [selectedReport]="selectedReport"></pre-h>
		<patient-initial-status [selectedReport]="selectedReport"></patient-initial-status>		
		<event-trace [selectedReport]="selectedReport"></event-trace>
		<events-chart [selectedReport]="selectedReport"></events-chart>
		  -->
	</div>
</div>
<br />

<ng-template #validateDialog>
	<div class="modal-header" style="width:600px">
		<h4 class="modal-title">Validazione Report: {{selectedReport._id}} </h4>
	</div>
	<div class="modal-body">
		<p>Validare il report con ISS Totale (finale) pari a {{selectedReport.iss.totalIss}}?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissValidationDialog()">
			<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="confirmValidation()">
			<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Conferma</span>
		</button>
	</div>
</ng-template>


