<div class="modal-header">
    <h4 class="modal-title">Monitor Information</h4>
</div>
<div class="modal-body">
    <form name="myForm">
    <input type="text" name="care_unit_label" ng-model="care_unit_label" placeholder="Care Unit" required>
    <input type="text" name="bed_unit_label" ng-model="bed_unit_label" placeholder="Bed Label" required>
    <input type="text" name="ip_gateway" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-model="ip_gateway" placeholder="Gateway IP Address" required>
    <input type="text" name="port_gateway" ng-pattern="/^[0-9]{1,7}$/" name="price_field" ng-model="port_gateway" placeholder="Gateway Port" required>
    </form>
    <span ng-show="myForm.port_gateway.$error.pattern">Error in port number!</span>
    <span ng-show="myForm.ip_gateway.$error.pattern">Error in IP Address value!</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="insertCancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="!myForm.$valid" ng-click="insertSave(care_unit_label,bed_unit_label,ip_gateway,port_gateway)">Save</button>
</div>