<div>

	<!--MESSAGGIO DI ERRORE-->
	<div ng-show="showProblemsAlert" class="alert alert-warning">
		<strong>{{message}}</strong>
	</div>

	<!--PARAMETRI VITALI-->
	<div class="panel panel-default">
		<div
			style="background: #6d9eeb !important; color: #ffffff ! important"
			class="panel-heading">{{monitorID}}<br />[current patient: {{pid}} - {{pname}} | last update: {{timestamp}}]</div>

		<div class="panel-body" style="background-color: rgba(0, 0, 0, 1);">
			<div class="container">
				<div class="row" style="border-color: black !important;">
					<div class="col-sm-2" style="color: #008D07">HR: {{HR}}</div>
					<div class="col-sm-2" style="color: #FFFFFF">SpO2: {{SpO2}}</div>
					<div class="col-sm-2" style="color: #ECE000">EtCO2: {{EtCO2}}</div>
					<div class="col-sm-2">
						<div style="color: #CC000A">NBP S: {{NBPS}}</div>
						<div style="color: #CC000A">NBP D: {{NBPD}}</div>
					</div>
					<div class="col-sm-2">
						<div style="color: #CC000A">SYS: {{SYS}}</div>
						<div style="color: #FF8400">DIA: {{DIA}}</div>
					</div>
					<div class="col-sm-2" style="color: #2ED3FC">Temp: {{Temp}}</div>
				</div>
			</div>
		</div>

		<div class="panel-body">
			<div class="list-group">
				<div class="list-group-item">
					<b>Care unit:</b> {{care_unit}}
				</div>
				<div class="list-group-item">
					<b>Bed label:</b> {{bed_unit}}
				</div>
				<div class="list-group-item">
					<b>Gateway IP Address:</b> {{ip_gateway}}
				</div>
				<div class="list-group-item">
					<b>Gateway Port:</b> {{port_gateway}}
				</div>
			</div>
		</div>

	</div>

	<!--OPZIONI-->
	<div class="panel panel-default">
		<div
			style="background: #6d9eeb !important; color: #ffffff ! important"
			class="panel-heading">Options</div>
		<div class="panel-body">
			<div>
				Auto Update (every 3''): <input type="checkbox"
					ng-model="check_autoupdate"
					ng-change="autoreload_change(check_autoupdate)">
			</div>
			<div>
				Sound: <input type="checkbox" ng-model="check_audio"
					ng-change="audio_change(check_audio)">
			</div>
		</div>
	</div>

	<!--LEGENDA-->
	<!--<div class="panel panel-default">
		<div
			style="background: #6d9eeb !important; color: #ffffff ! important"
			class="panel-heading">Legenda</div>
		<div class="panel-body">
			<div class="list-group">
				<p>
					<b>HR: </b>Frequenza cardiaca [battiti/min]
				</p>
				<p>
					<b>DIA: </b>Pressione diastolica [mm(hg)]
				</p>
				<p>
					<b>SYS: </b>Pressione sistolica [mm(hg)]
				</p>
				<p>
					<b>EtCO2: </b>EtCO2 [mm(hg)]
				</p>
				<p>
					<b>SpO2: </b>Saturazione [%]
				</p>
				<p>
					<b>Temp </b>Temperatura [cel]
				</p>
			</div>
		</div>
	</div>-->
</div>