<div>

	<!--MESSAGGIO DI ERRORE-->
	<div ng-show="showProblemsAlert" class="alert alert-warning">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>{{message}}</strong>
	</div>

	<!--LISTA DI MONITOR-->
	<div class="panel panel-default">
		<div
			style="background: #6d9eeb !important; color: #ffffff ! important"
			class="panel-heading clearfix ">
			<span style="text-align: center;">Vital Signs Monitors
				Management Dashboard</span>
			<button style="background: #6d9eeb !important;" type="button"
				ng-click="showAddEdit('','','',false); $event.stopPropagation();"
				class="btn btn-info pull-right">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<a ng-repeat="monitor in monitors" ng-click="openMonitor(monitor.id,monitor.ip_gateway,monitor.port_gateway)" class="list-group-item pointer col-sm-3">
					<p><b>{{monitor.id}}</b><br/>{{monitor.ip_gateway}}:{{monitor.port_gateway}}
					<button type="button"
						ng-click="showConfirm(monitor.id); $event.stopPropagation();"
						class="btn btn-danger btn-sm pull-right" style="margin-left:10px">Delete</button>
					<button type="button"
						ng-click="showAddEdit(monitor.id,monitor.ip_gateway,monitor.port_gateway,true); $event.stopPropagation();"
						class="btn btn-warning btn-sm pull-right" style="margin-left:10px">Edit</button></p>
				</a>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div style="background: #6d9eeb !important; color: #ffffff ! important" class="panel-heading">
			Monitors Current Status
		</div>
		<div class="panel-body">
				<span ng-repeat="monitor in monitors" class="pointer clearfix">
					<div style="width:100%; height:35px; background-color:gray; padding-top:1px; padding-bottom:1px; margin-top:5px; padding-left:10px;"><h5><b>{{monitor.id}} [current patient: {{monitor.pid}} - {{monitor.pname}} | last update: {{monitor.timestamp}}]</b></h5></div>
					<div class="panel-body" style="background-color: rgba(0, 0, 0, 1);">
						<div class="container">
							<div class="row" style="border-color: black !important;">
								<div class="col-sm-2" style="color: #008D07">HR: {{monitor.HR}}</div>
								<div class="col-sm-2" style="color: #FFFFFF">SpO2: {{monitor.SpO2}}</div>
								<div class="col-sm-2" style="color: #ECE000">EtCO2: {{monitor.EtCO2}}</div>
								<div class="col-sm-2">
									<div style="color: #CC000A">NBP S: {{monitor.NBPS}}</div>
									<div style="color: #CC000A">NBP D: {{monitor.NBPD}}</div>
								</div>
								<div class="col-sm-2">
									<div style="color: #CC000A">SYS: {{monitor.SYS}}</div>
									<div style="color: #FF8400">DIA: {{monitor.DIA}}</div>
								</div>
								<div class="col-sm-2" style="color: #2ED3FC">Temp: {{monitor.Temp}}</div>
							</div>
						</div>
					</div>
				</span>
		</div>
	</div>
</div>