<h2> Home </h2>

<table border="1">
  <thead>
  <tr>
    <th>Regions</th>
    <th>Gateways</th>
    <th>Tags</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let region of regionList">
    <td class="reg-td"> {{region.name}} - {{region.id}} </td>
    <td class="gw-td">
      <div *ngFor="let gw of gatewayList" >
        <a *ngIf="gw.place === region.id" href="http://{{gw.ipAddress}}/network" target="_blank">
          <figure>
            <img src="{{gw.online ? onlineImg : offlineImg}}" alt="{{gw.online ? 'Online' : 'Offline'}}" width="15" height="15"/>
          </figure>
          {{gw.id}} - {{gw.ipAddress}}
        </a>
      </div>
    </td>
    <td class="tag-td">
      <div *ngFor="let tag of tagMap">
        <a *ngIf="tag.region === region.id" href="tags/{{tag.id}}"> {{tag.id}} </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
