table {
  width: 100%;
}

td.tag-td {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

td.tag-td > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

td.tag-td > div > a {
    width: 75%;
    text-align: center;
}

td.gw-td > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

td.gw-td > div > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
}

td.reg-td {
  text-align: center;
}
