<app-gateway-insertion></app-gateway-insertion>
<h2> Gateway list </h2>
<div class="gw-container">
    <a href="gateways/{{gw.id}}" *ngFor="let gw of gateways">
      <p>Id: {{gw.id}} ipAddress: {{gw.ipAddress}}</p>
      <figure>
        <img src="{{gw.online ? onlineImg : offlineImg}}" alt="{{gw.online ? 'Online' : 'Offline'}}" width="15" height="15"/>
      </figure>
    </a>
</div>
