div.gw-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1%;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
}

div.gw-container > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
