<h2> Selected region </h2>
<div class="container">
  <div>
    <p>Id: {{region.id}}</p>
    <label> Name: <input [(ngModel)]="region.name"/></label>
     <button (click)="updateRegion()">Save</button>
  </div>
  <button (click)="deleteRegion()">Delete</button>
</div>
<div class="tag-container" (click)="toggleTags()">
  <h3> Tags in region: </h3>
  <div  *ngIf="this.displayTags">
    <a *ngFor="let tag of tags" href="tags/{{tag}}"> {{tag}} </a>
  </div>
</div>
<app-regions></app-regions>
