div.container {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  margin: 1% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.container > div {
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}

@media screen and (max-width: 800px) {
  div.container > div > label {
    flex-direction: column;
    align-items: flex-start;
  }
}

p, label {
  color: #607d8b;
  margin: 1% 0% 0.5% 0%;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

button {
  margin: 0 !important;
}
