div.tag-container {
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  margin: 1% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

div.tag-container > * {
  margin: 1%;
}

div.tag-container > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

div.tag-container > div > a {
  width: 20%;
  margin: 1%;
  padding: 1% 0%;
  text-align: center;
}
