<div id="reportList" class="panel panel-default" *ngIf="!isReportToShow">
	<div class="panel-body">
		<table class="table table-light table-hover" style="width:100%;">
			<!--<caption>Lista degli ultimi report</caption>-->
			<thead>
				<tr>
					<th>Data</th>
					<th>Ora</th>
					<th>Trauma Leader</th>
					<th>Destinazione Finale</th>
					<th></th>
					<th></th>
				</tr>
			</thead>  
			<tbody>
				<tr *ngFor="let report of reports">
					<td>{{report.startDate}}</td>
					<td>{{report.startTime | filterTime }}</td>
					<td>{{report.startOperatorDescription}}</td>
					<td>{{report.finalDestination}}</td>
					<td style="text-align: center;">
						<div *ngIf="!report._validation.isValidated" style="color:red">[da validare]</div>
					</td>
					<td>
						<div class="d-grid d-md-flex justify-content-md-end">
							<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="showReport(report)">
								<i class="bi bi-journal-medical"></i><span class="align-middle">&nbsp;Apri</span>
							</button>
							<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="printReport(report)">
								<i class="bi bi-printer"></i><span class="align-middle">&nbsp;Scarica PDF</span>
							</button>
							<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="exportReport(report)">
								<i class="bi bi-file-earmark-spreadsheet"></i><span class="align-middle">&nbsp;Scarica CSV</span>
							</button>
							<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="deleteReport(report)">
								<i class="bi bi-trash"></i><span class="align-middle">&nbsp;Elimina</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<view-report></view-report>
<delete-report></delete-report> 
