<h2> Insert Gateway </h2>
<div class="container">
    <label>Id: {{baseId}} <input [(ngModel)]="gw.id" value="{{gw.id}}"/></label>
    <label>IpAddress: <input [(ngModel)]="gw.ipAddress" value="{{gw.ipAddress}}"/></label>
    <label>Place:
      <select [(ngModel)]="gw.place">
        <option *ngFor="let region of rl" value="{{region.id}}"> {{region.name}} - {{region.id}} </option>
      </select>
    </label>
    <label>Threshold: <input [(ngModel)]="gw.threshold" value="{{gw.threshold}}"/></label>
    <button (click)="addGateway()">Insert</button>
</div>
