<div style="margin: 80px;">
	<div class="card" style="width:600px; margin:auto;">
		<div class="card-body" style="background:#6d9eeb;color:#ffffff;">
			<div style="margin-bottom: 20pt;">
				<h3 class="display-6" style="text-align:center">LOGIN</h3>
			</div>

			<div class="center">
				<form  >
					<table>
						<tr>
							<td style="width: 80%; padding: 0px 10px 0px 0px;">
								<!--<table style="margin:auto; border-spacing: 0 15pt">
									<tr>
										<td style="width:150px;height:40px">
											<label for="uname"><b>Nome utente</b></label>
										</td>
										<td>
											<div class="input-group">
												<input class="form-control" type="text" name="uname" [(ngModel)]="userId" required>
											</div>
										</td>
									</tr>
									<tr>
										<td style="width:150px;height:40px">
											<label for="psw"><b>Password</b></label>
										</td>
										<td>
											<div class="input-group">
												<input class="form-control" placeholder="Password" type="password" name="pwd" [(ngModel)]="pwd" required>
											</div>
										</td>
									</tr>
								</table>-->

								<div class="form-group row">
									<label for="uname" class="col-md-4 col-form-label text-md-right">Nome Utente</label>
									<div class="col-md-8">
										<input class="form-control" type="text" name="uname" [(ngModel)]="userId" required>
									</div>
								</div>
	
								<div class="form-group row">
									<label for="psw" class="col-md-4 col-form-label text-md-right">Password</label>
									<div class="col-md-8">
										<input class="form-control" type="password" name="pwd" [(ngModel)]="pwd" required>
											
									</div>
								</div>

							</td>
							<td style="width:20%;text-align:center; padding: 0px 40px 0px 20px;">
								<div class="form-group row">
									<button type="submit" (click)="login()" class="btn btn-primary" style="padding:8px 30px 8px 30px;">
										<i class="bi bi-box-arrow-in-right"></i><span class="align-middle">Accedi</span>
									</button>
								</div>
								<!--<button type="submit" (click)="login()" class="btn btn-primary" style="padding:8px 30px 8px 30px;">
									<i class="bi bi-box-arrow-in-right"></i><span class="align-middle">Accedi</span>
								</button>	-->
							</td>
						</tr>
					</table>
				</form>
				<div style="width:100%; text-align:center; padding-top: 20px"> 
					<label name="loginMsg"> {{ loginMsg }} </label>
				</div>			
			</div>
		</div>
		<div class="card-footer" style="background:#6d9eeb;color:#ffffff;">
			<div style="width:100%; text-align: center">
				<i class="bi bi-info-circle"></i><span class="align-middle"></span>&nbsp; Non riesci ad accedere?&nbsp;
				<button type="submit" (click)="recoverPwd()" class="btn btn-info btn-sm">Recupera Password</button>						
			</div>
		</div>
	</div>
</div>