<app-region-insertion></app-region-insertion>
<h2> Region list </h2>
<div class="region-container">
    <a href="regions/{{region.id}}" *ngFor="let region of regions">
      <p>Id: {{region.id}} name: {{region.name}}</p>
    </a>
</div>
