<h2> Selected tag </h2>
<div class="container">
  <div>
    <p>Id: {{tag.id}}</p>
    <label>SerialNumber: <input [(ngModel)]="tag.serialNumber"/> <button (click)="updateSerial()">Save</button></label>
    <p>Battery: {{tag.battery}} %</p>
    <p>Last timestemp: {{tag.timestamp}}</p>
  </div>
  <button class="del-btn" (click)="deleteTag()">Delete</button>
</div>
<app-tags></app-tags>
