/* Style of buttons and links */
a {
  color: #607d8b;
  background-color: #eee;
  border-radius: 4px;
  text-decoration: none;
  margin: 0.5% 1%;
  padding: 0% 1%;
}

a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

button {
  color: #607d8b;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 1%;
  margin-left: 0.5%;
  border: none;
}

button:hover {
  background-color: #cfd8dc;
  color: #039be5;
}

button.del-btn {
    border-radius: 0 4px 4px 0;
    margin: 0;
}
