<div class="card">
	<div class="card-header" style="background: #6d9eeb !important; color: #ffffff ! important; float: right;" >
		<span>
			<button type="button" class="btn btn-xs btn-primary" (click)="openAddUserDialog()">
				<i class="bi bi-person-plus"></i><span class="align-middle">&nbsp;Nuovo Utente</span>
			</button> 
		</span>
	</div>
	<div class="card-body">
		<table class="table table-light table-hover" style="width:100%;">
			<thead>
				<tr>
					<th>Cognome</th>
					<th>Nome</th>
					<th>E-mail</th>
					<th>User ID</th>
					<th>Ruolo</th>
					<th></th>
				</tr>
			</thead>
			<tbody *ngIf="areUsersLoaded">
				<tr *ngFor="let user of users">
					<td>{{user.surname}}</td>
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.userId}}</td>
					<td>{{user.role}}</td>
					<td>
						<div class="d-grid d-md-flex justify-content-md-end">
							<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="openUpdateUserDialog(user)">
								<i class="bi bi-pencil"></i><span class="align-middle">&nbsp;Modifica</span>
							</button>
							<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="openDeleteUserDialog(user)">
								<i class="bi bi-trash"></i><span class="align-middle">&nbsp;Elimina</span>
							</button>	
						</div>
											
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<ng-template #addUserModal>
	<div class="modal-header">
		<h4 class="modal-title text-uppercase">Inserimento nuovo utente</h4>
	</div>
	<div class="modal-body">
		<form class="row g-3">
			<div class="col-md-6">
				<label for="nameControlInput" class="form-label">Nome</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="name" name="name"
					(change)="nameOrSurnameChanged();" (keyup)="nameOrSurnameChanged();" (paste)="nameOrSurnameChanged();" (input)="nameOrSurnameChanged();"/>
			</div>
			<div class="col-md-6">
				<label for="nameControlInput" class="form-label">Cognome</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="surname" name="surname"
				(change)="nameOrSurnameChanged();" (keyup)="nameOrSurnameChanged();" (paste)="nameOrSurnameChanged();" (input)="nameOrSurnameChanged();"/>
			</div>
			<div class="col-md-6">
				<label for="nameControlInput" class="form-label">Username</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="userId" name="userId" disabled/>
			</div>
			<div class="col-md-6">
				<label for="nameControlInput" class="form-label">Email</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="email" name="email"/>
			</div>
			<div class="col-md-4">
				<label for="nameControlInput" class="form-label">Password</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="password" name="password"/>
			</div>
			<div class="col-md-8">
				<label for="nameControlInput" class="form-label">Ruolo</label>
				<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="role">
					<label ngbButtonLabel class="btn btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="member"> Membro
					</label>
					<label ngbButtonLabel class="btn btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="data-analyst"> Analista
					</label>
					<label ngbButtonLabel class="btn btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="director"> Direttore
					</label>
					<label ngbButtonLabel class="btn btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="admin"> Admin
					</label>
				</div>
				<div id="roleHelp" class="form-text">
					<p><b>Membro</b>: utente standard, visualizza e valida i propri report</p>
					<p><b>Analista</b>: accede ai report di tutti  gli utenti, accede alle funzionalità di analisi dei dati</p>
					<p><b>Direttore</b>: visualizza e valida i report di tutti gli utenti, accede alle funzionalità di analisi dei dati, può aggiungere nuovi utenti</p>
					<p><b>Admin</b>: accede a tutte le funzionalità, riservato al reparto IT</p>
				</div>
			</div>
			
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissAddUserDialog()">
			<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="addUser()">
			<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Aggiungi</span>
		</button>			
	</div>
</ng-template>

<ng-template #updateUserModal>
	<div class="modal-header">
		<h4 class="modal-title text-uppercase">Aggiornamento dati utente</h4>
	</div>
	<div class="modal-body">


		<form class="row g-3">
			<div class="col-md-6">
				<label for="nameControlInput" class="form-label">Nome</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="name" name="name" disabled/>
			</div>
			<div class="col-md-6">
				<label for="nameControlInput" class="form-label">Cognome</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="surname" name="surname" disabled/>
			</div>
			<div class="col-md-6">
				<label for="nameControlInput" class="form-label">Username</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="userId" name="userId" disabled/>
			</div>
			<div class="col-md-6">
				<label for="nameControlInput" class="form-label">Email</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="email" name="email" disabled/>
			</div>
			<div class="col-md-4">
				<label for="nameControlInput" class="form-label">Password</label>
				<input type="text" class="form-control form-control-sm" id="nameControlInput" [(ngModel)]="password" name="password"/>
			</div>
			<div class="col-md-8">
				<label for="nameControlInput" class="form-label">Ruolo</label>
				<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="role">
					<label ngbButtonLabel class="btn btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="member"> Membro
					</label>
					<label ngbButtonLabel class="btn btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="data-analyst"> Analista
					</label>
					<label ngbButtonLabel class="btn btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="director"> Direttore
					</label>
					<label ngbButtonLabel class="btn btn-outline-primary btn-sm">
						<input ngbButton type="radio" value="admin"> Admin
					</label>
				</div>
				<div id="roleHelp" class="form-text">
					<p><b>Membro</b>: utente standard, visualizza e valida i propri report</p>
					<p><b>Analista</b>: accede ai report di tutti  gli utenti, accede alle funzionalità di analisi dei dati</p>
					<p><b>Direttore</b>: visualizza e valida i report di tutti gli utenti, accede alle funzionalità di analisi dei dati, può aggiungere nuovi utenti</p>
					<p><b>Admin</b>: accede a tutte le funzionalità, riservato al reparto IT</p>
				</div>
			</div>
			
		</form>

<!--
		<form class="form-inline">
			<div class="form-group">
				<table>
					<tr>
						<td style="width: 150px">Nome</td>
						<td> {{ name }}</td>
					</tr>
					<tr>
						<td style="width: 150px">Cognome</td>
						<td> {{ surname }}</td>
					</tr>
					<tr>
						<td style="width: 150px">Email</td>
						<td> {{ email }}</td>
					</tr>
					<tr>
						<td style="width: 150px">User id</td>
						<td> {{ userId }}</td>
					</tr>
					<tr>
						<td style="width: 150px">Ruolo</td>
						

						<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="role">
							<label ngbButtonLabel class="btn btn-outline-dark btn-sm">
							  <input ngbButton type="radio" value="admin"> Admin
							</label>
							<label ngbButtonLabel class="btn btn-outline-dark btn-sm">
							  <input ngbButton type="radio" value="director"> Direttore
							</label>
							<label ngbButtonLabel class="btn btn-outline-dark btn-sm">
							  <input ngbButton type="radio" value="member"> Membro
							</label>
							<label ngbButtonLabel class="btn btn-outline-dark btn-sm">
								<input ngbButton type="radio" value="data-analyst"> Analista
							  </label>
						  </div>

					</tr>
					<tr>
						<td style="width: 150px">Password</td>
						<td style="width: 300px">
							<input type="password" [(ngModel)]="password" name="password"/>
						</td>
					</tr>
				</table>
			</div>			
		</form>		-->	
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissUpdateUserDialog()">
			<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="updateUser()">
			<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Modifica</span>
		</button>			
	</div>
</ng-template>

<ng-template #deleteUserModal>
	<div class="modal-header">
		<h4 class="modal-title text-uppercase">Conferma eliminazione utente</h4>
	</div>
	<div class="modal-body">
		Eliminare l'utente <span class="badge bg-primary"> {{ selectedUser.userId }} </span> ?	
	</div>		
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissDeleteUserDialog()">
			<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="deleteUser()">
			<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Elimina</span>
		</button>
	</div>	

</ng-template>

<ng-template #newUserReviewModal>
	<div class="modal-header">
		<h4 class="modal-title text-uppercase">Riepilogo dati nuovo utente</h4>
	</div>
	<div class="modal-body">
		<form class="form-inline">
			<div class="form-group">
				<table>
					<tr>
						<td style="width: 150px">Nome</td>
						<td> {{ name }}</td>
					</tr>
					<tr>
						<td style="width: 150px">Cognome</td>
						<td> {{ surname }}</td>
					</tr>
					<tr>
						<td style="width: 150px">User id</td>
						<td> {{ userId }}</td>
					</tr>
					<tr>
						<td style="width: 150px">E-mail</td>
						<td> {{ email }}</td>
					</tr>
					<tr>
					<tr>
						<td style="width: 150px">Password</td>
						<td> {{ password }}</td>
					</tr>
					<tr>
						<td style="width: 150px">Ruolo</td>
						<td> {{ role }}</td>
					</tr>
				</table>
			</div>			
		</form>			
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissNewUserReviewDialog()">
			<i class="bi bi-check-circle"></i><span class="align-middle">&nbsp;Chiudi</span>
		</button>		
	</div>
</ng-template>
