<h4>
	<div class="label label-default" style="padding-bottom: 20px" >Traccia degli eventi</div>
</h4>

<table class="table">
	<thead>
		<tr>
			<th style="width: 100%; padding: 0;"></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let groupByDate of getEventsGroupedByDate(selectedReport.events)">
			<td style="border: 0px none; padding: 0;">
				<p style="margin-left:10px">{{groupByDate[0].date}}</p>
				<table class="table" style="margin-left:10px">
					<thead>
						<tr>
							<th style="width: 100%; padding: 0;"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let groupByPlace of getEventsGroupedByPlace(groupByDate)">
							<td style="border: 0px none; padding: 0;">
								<p style="margin-left:10px"><b>{{groupByPlace[0].place}}</b></p>
								<table class="table" style="margin-bottom: 0; margin-left:20px">
									<tbody>
										<tr *ngFor="let event of groupByPlace">
											<td style="width: 10%; border: 0px none; padding: 2;">{{
												event.time | filterTime }}</td>
											<td style="width: 70%; border: 0px none; padding: 2;">{{event.content
												| filterEventContent:event.evType}}
												<span *ngIf="(event.evType | isEventPhoto)">
													&nbsp;&nbsp;&nbsp;&nbsp;
													<button type="button"
														(click)="viewMultimedia(photoViewerModal,event)"
														class="btn btn-outline-primary btn-sm me-md-1"><i class="bi bi-info-square"></i><span class="align-middle">&nbsp;Visualizza</span>
													</button>
												</span> 
												<span *ngIf="(event.evType | isEventAudio)"> 
													&nbsp;&nbsp;&nbsp;&nbsp;
													<audio controls>
														<source
															src="{{ audioBaseURL }}/{{ selectedReport._id }}-{{event.eventId}}.aac"
															type="audio/mpeg">
													</audio>
												</span> 
												<span *ngIf="(event.evType | isEventVideo)">
													&nbsp;&nbsp;&nbsp;&nbsp;
													<button type="button"
														(click)="viewMultimedia(videoViewerModal,event)"
														class="btn btn-outline-primary btn-sm me-md-1"><i class="bi bi-info-square"></i><span class="align-middle">&nbsp;Visualizza</span> 
													</button>
												</span>											
											</td>
											<td style="width: 20%; border: 0px none; padding: 2;">
												<button type="button" class="btn btn-outline-primary btn-sm me-md-1" (click)="removeEvent(selectedReport, event)" data-toggle="modal"
												data-target="#removeEventModal">
													<i class="bi bi-trash"></i><span class="align-middle">&nbsp;Rimuovi</span>
												</button>
												<!--<button type="button"
													(click)="removeEvent(selectedReport, event)"
													class="btn btn-xs btn-primary" data-toggle="modal"
													data-target="#removeEventModal">Rimuovi
												</button>-->
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<!-- This is the Photo Viewer modal -->
<ng-template #photoViewerModal>
<div class="modal-header">
	<h4 class="modal-title">Id: {{ selectedReport._id}}-{{eventToView.eventId }}</h4>
</div>
<div class="modal-body">
	<img
		src="{{ photoBaseURL }}/{{ selectedReport._id }}-{{eventToView.eventId}}.jpg"
		alt="Immagine non ancora disponibile." width="337" height="450">
</div>
<div class="modal-body">
	<span class="label label-info"> Data </span> <span>&nbsp;&nbsp;{{eventToView.date}}&nbsp;&nbsp;&nbsp;&nbsp;</span> <span
		class="label label-info"> Ora </span> <span>&nbsp;&nbsp;{{eventToView.time}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<span class="label label-info"> Luogo </span> <span>&nbsp;&nbsp;{{eventToView.place}}</span>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark"
		(click)="dismissDialog()">Chiudi</button>
</div>
</ng-template>

<!-- This is the Video Viewer modal -->
<ng-template #videoViewerModal>
<div class="modal-header">
	<h4 class="modal-title">Id: {{ selectedReport._id }}-{{eventToView.eventId}}</h4>
</div>
<div class="modal-body">
	<video width="337" height="450"
		src="{{ videoBaseURL }}/{{ selectedReport._id }}-{{eventToView.eventId}}.mp4"
		controls>
	</video>
</div>
<div class="modal-body">
	<span class="label label-info"> Data </span> <span>&nbsp;&nbsp;{{
		eventToView.date}}&nbsp;&nbsp;&nbsp;&nbsp;</span> <span
		class="label label-info"> Ora </span> <span>&nbsp;&nbsp;{{eventToView.time}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<span class="label label-info"> Luogo </span> <span>&nbsp;&nbsp;{{eventToView.place}}</span>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark"
		(click)="dismissDialog()">Chiudi</button>
</div>
</ng-template>





