<ng-template #deleteReportModal>
	<div class="modal-header">
		<h4 class="modal-title text-uppercase">Conferma eliminazione report</h4>
	</div>
	<div class="modal-body">
		Eliminare definitivamente il report di 
		<b><span class="label label-primary">{{ selectedReport.startOperatorDescription }}</span></b>
		effettuato in data 
		<b><span class="label label-primary">{{ selectedReport.startDate }}</span></b>
		alle ore
		<b><span class="label label-primary">{{ selectedReport.startTime }}</span></b>
		?
	</div>		
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="dismissDeleteDialog()">
			<i class="bi bi-x-circle"></i><span class="align-middle">&nbsp;Annulla</span>
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="deleteReport()">
			<i class="bi bi-trash"></i><span class="align-middle">&nbsp;Elimina Definitivamente</span>
		</button>
	</div>	
</ng-template>
 