<!-- Recent reports panel -->
	<div id="recentReportComponent" class="panel panel-default">
		<div class="panel-body">
			<report-compact-details [reports]="reports" ></report-compact-details>
		</div>
	</div>



